<nav ng-include src="'app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<section class="main {{post.type}} single-post">
	<div class="single-post-inner col-md-8 col-md-offset-2">
		<div class="single-post-masthead clearfix">
			{{$location.search()}}
			<a href="{{location.search().tag ? ('/#/?tag=' + location.search().tag) : '/#/'}}" class="back-btn pull-left bold-caps text-shadow"><span><i class="fa fa-long-arrow-left"></i>Back to posts</span></a>
		</div>
		
		<div class="options-menu-container single-post-menu-container" ng-if="$root.user._id === post.userId">
			<button ng-click="togglePostOptions()" class="options-menu-toggle transparent-btn"><i class="fa fa-cog text-shadow"></i></button>
			<ul ng-show="$root.postOptionsToggled" class="options-menu single-post-menu">
				<li id="delete_post_sequence">
					<button class="btn reg-btn c-bg-primary" ng-if="!deletePostClicked" ng-click="deletePost(post._id)">Delete</button>
<!-- 					<button class="btn reg-btn c-bg-primary" ng-show="deletePostClicked" ng-click="deletePost(post._id)">Yes</button>
					<button class="btn reg-btn c-bg-primary" ng-show="deletePostClicked" ng-click="deletePostClick('cancel')">No</button> -->
				</li>
<!-- 				<li>
					<button class="btn reg-btn c-bg-primary" ng-controller="mainController" ng-click="$root.editPost = true; initDatePicker()">Edit post</button>
				</li> -->
			</ul>
		</div>

		<!-- IMAGES -->
		<div class="post-images" ng-if="$root.post.images.length">
			<div class="post-image" ng-repeat="image in $root.post.images">
				<img class="img-responsive tile" src="{{image}}" alt="{{$root.post.content}}">
			</div>
		</div>

		<!-- MAIN CONTENT -->
		<article ng-hide="$root.editPost" class="content not-treated text-shadow">
			{{$root.post.content}}
		</article>
		<!-- /MAIN CONTENT -->

		<div class="secondary" ng-if="post.type == 'quest'">
			<div ng-if="$root.user._id == post.userId">
				<ul ng-if="post.quest.status !== 'completed'">
					<li class="pull-left">
						<button class="reg-btn c-bg-primary" ng-click="allCompletedQuest(post._id, post.usersMentioned)">Everyone completed the quest</button>
					</li>
					<li class="pull-left">
						<ul>
							<li ng-repeat="user in post.usersMentioned"><button class="reg-btn c-bg-secondary" ng-click="completedQuest(post._id, user)">@{{user}} completed the quest</button></li>
						</ul>
					</li>
				</ul>

				<button class="pull-left reg-btn c-bg-secondary" ng-if="post.quest.status === 'completed'" ng-click="undoCompletedQuest(post._id, post.usersMentioned, 'failed')">change all to 'failed'</button>
				<button class="pull-left reg-btn c-bg-secondary" ng-if="post.quest.status === 'completed'" ng-click="undoCompletedQuest(post._id, post.usersMentioned, 'in_progress')">change all to 'in progress'</button>
			</div>

			<div class="col-md-12" ng-if="post.usersMentioned.indexOf($root.user.username) === -1">
				<h2 ng-if="post.quest.status === 'completed'">Success!</h2>
				<h2 ng-if="post.quest.status === 'in_progress'">In Progress</h2>
				<h2 ng-if="post.quest.status === 'failed'">Failed</h2>
			</div>
			<div class="col-md-12" ng-if="post.usersMentioned.indexOf($root.user.username) > -1">
				<div ng-if="post.quest.completers.indexOf($root.user.username) > -1">
					<h2>Success!</h2>
					<p>You completed the quest!</p>
				</div>
				<div ng-if="post.quest.completers.indexOf($root.user.username) === -1 && post.quest.status === 'in_progress'">
					<h2>Good luck...</h2>
					<p>You haven't completed this quest yet.</p>
				</div>
				<div ng-if="post.quest.completers.indexOf($root.user.username) === -1 && post.quest.status === 'failed'">
					<h2>Boooo!</h2>
					<p>You failed this quest.</p>
				</div>
			</div>
		</div>

		<div class="secondary" ng-if="post.type == 'poll'" class="pull-left clearfix col-md-12 no-gutter">
			<div class="poll-option clearfix" ng ng-repeat="option in post.poll">
				<h4
					class="less-rounded pull-left c-text"
					ng-class="{'c-bg-accent': (option.voters.indexOf($root.user.username) > -1), 'c-bg-primary': (option.voters.indexOf($root.user.username) === -1)}"
					ng-click="castPollVote(post._id, option.choice, $root.user.username)">
					{{option.choice}}
				</h4>
				<div class="votes pull-left clearfix">
					<h3 class="inline-block">{{option.votes}}</h3>
					<a ng-repeat="voter in option.voters track by $index" class="voter inline-block" href="/#/?user={{voter}}">
						<div ng-show="$root.usersByUsername[voter].avatar.length" class="avatar-container" style="background-image: url({{$root.usersByUsername[voter].avatar}})"></div>
						<div ng-hide="$root.usersByUsername[voter].avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersByUsername[voter].primaryColor}}">
							<span>{{$root.usersByUsername[voter].username.split("")[0].toUpperCase()}}</span>
						</div>
					</a>
				</div>
			</div>
		</div>

		<!-- AFTER CONTENT -->
		<div class="after-content clearfix col-md-12 no-gutter text-shadow">
			<a class="author pull-left" href="/#/?user={{post.user}}">
				<div ng-show="post.avatar.length" class="avatar-container" style="background-image: url({{post.avatar}})"></div>
				<div ng-hide="post.avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersByUsername[post.user].primaryColor}}">
					<span>{{post.user.split("")[0].toUpperCase()}}</span>
				</div>
				<span class="author-name">{{post.authorName || post.user}}</span>
			</a>
			<div class="date pull-left bold-caps">
				{{$root.post.date | date: 'MM/dd/yyyy hh:mm'}}
			</div>
			
			<div class="reactions">
				<button class="btn clear-btn pull-right like-btn" ng-class="{'liked-by-you': post.reactions.like.users.indexOf($root.user.username) > -1}" ng-click="react($event, 'like', 'post', post._id)">
					<i class="fa fa-thumbs-up"></i>
					<span>{{post.reactions.like.amount}}</span>
				</button>
				<button class="btn clear-btn pull-right love-btn" ng-class="{'loved-by-you': post.reactions.love.users.indexOf($root.user.username) > -1}" ng-click="react($event, 'love', 'post', post._id)">
					<i class="fa fa-heart"></i>
					<span>{{post.reactions.love.amount}}</span>
				</button>
			</div>
		</div>

<!-- 		<div class="tags" ng-if="!editPost">
			<a href="/#/?tag={{tag}}" ng-repeat="tag in post.tags">#{{tag}}  </a>
		</div> -->

		<!-- COMMENTS -->
		<section class="comments col-md-12 no-gutter clearfix">
			<div ng-repeat="comment in post.comments" class="comment tile less-rounded c-bg-content clearfix">
				<a class="author pull-left" href="/#/?user={{comment.user}}">
					<div ng-show="$root.usersByUsername[comment.user].avatar.length" class="avatar-container" style="background-image: url({{$root.usersByUsername[comment.user].avatar}})"></div>
					<div ng-hide="$root.usersByUsername[comment.user].avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersByUsername[comment.user].primaryColor}}">
						<span>{{comment.user.split("")[0].toUpperCase()}}</span>
					</div>
					<span class="author-name">{{$root.usersByUsername[comment.user].name || comment.user}}</span>
				</a>

				<p class="comment-body pull-left not-treated">{{comment.content}}</p>

				<div class="reactions">
					<button class="btn clear-btn pull-right like-btn" ng-class="{'liked-by-you': comment.reactions.like.users.indexOf($root.user.username) > -1}" ng-click="react($event, 'like', 'comment', post._id, comment._id)">
						<i class="fa fa-thumbs-up"></i>
						<span>{{comment.reactions.like.amount}}</span>
					</button>
					<button class="btn clear-btn pull-right love-btn" ng-class="{'loved-by-you': comment.reactions.love.users.indexOf($root.user.username) > -1}" ng-click="react($event, 'love', 'comment', post._id, comment._id)">
						<i class="fa fa-heart"></i>
						<span>{{comment.reactions.love.amount}}</span>
					</button>
				</div>

			</div>
			<button class="reg-btn compact has-icon-left c-bg-secondary c-bg-primary-hover c-text-hover" ng-show="!allowAddComment" ng-click="allowAddComment = true">
				<i class="fa fa-comments"></i>Add a comment
			</button>
			<form ng-show="allowAddComment" ng-submit="postComment(); allowAddComment = false">
				<input class="reg-form" focus-if="allowAddComment" type="text" ng-model="newComment.content" placeholder="Write a comment">
				<button type="submit" class="reg-btn compact has-icon-left c-bg-primary c-bg-accent-hover"><i class="fa fa-comment"></i>Post comment</button>
			</form>
		</section>

		<!-- EDIT POST -->
		<section id="edit-post-area" ng-controller="mainController" ng-show="$root.editPost">
			<!-- ADD POST MAIN -->
			<div class="col-md-8 col-md-offset-2">

				<!-- POST BODY -->
				<div class="new-post-content">

					<textarea 
						ng-model="$root.post.content" 
						ng-keydown="selectFromList($event)" 
						ng-keyup="generate$root.linkPreview(); findWithPrefixSymbol(); insertIntoPost($event, $root.selectedFromList.list, $root.selectedFromList.value)" 
						id="new_post_content" 
						class="reg-form" 
						placeholder="Give this thing some words"></textarea>

					<div ng-if="$root.linkPreview" class="link-preview">
						<div class="link-preview-thumbnail">
							<img src="{{$root.linkPreview.src}}" alt="{{$root.linkPreview.title}}">
						</div>
						<div class="link-preview-text">
							<h3>{{$root.linkPreview.title}}</h3>
							<p>{{$root.linkPreview.description}}</p>
						</div>
					</div>
				</div>

				<!-- TAG AND MENTION LISTS -->
				<div ng-show="symbolSearch.members" ng-class="{'list-active': symbolSearch.members}" class="post-search-list post-search-list-members">
					<ul>
						<li ng-repeat="user in $root.users | filter: attemptFind" ng-click="insertIntoPost($event, 'members', user.username)" class="post-search-list-select c-bg-content" data-value="{{user.username}}">
							<img width="40" src="{{user.avatar}}"> {{user.name}} <span class="username"><span class="symbol">#</span>{{user.username}}</span>
						</li>
					</ul>
				</div>
				<div ng-show="symbolSearch.tags" ng-class="{'list-active': symbolSearch.tags}" class="post-search-list post-search-list-tags">
					<ul>
						<li ng-repeat="tag in $root.currentCircle.tags | filter: attemptFind" ng-click="insertIntoPost($event, 'tags', tag)" class="post-search-list-select c-bg-content" data-value="{{tag}}"><span class="symbol">#</span>{{tag}}</li>
					</ul>
				</div>

				<!-- EVENT -->
				<div ng-if="$root.post.type === 'event'">
					<h5 role="label">Set the date and location</h5>
					<input class="reg-form" ng-model="$root.post.eventDate" id="event_date" placeholder="Pick a date">
					<input class="reg-form" ng-model="$root.post.eventLocation" id="event_location" placeholder="Where's it at?">
				</div>

				<!-- QUEST -->
				<div ng-if="$root.post.type === 'quest'">
					<h5 role="label">What does someone get when they complete the quest?</h5>
					<input type="number" ng-model="$root.post.quest.worth.currency"> {{($root.post.quest.worth.currency == 1 || $root.post.quest.worth.currency == -1) ? $root.currentCircle.currency.singularName : $root.currentCircle.currency.pluralName}}
					<br>or an achievement<br>
					<input class="reg-form" ng-model="$root.post.quest.worth.achievement.title" ng-keyup="checkQuest()" placeholder="What's the name of this achievement?">
				</div>

				<!-- POLL -->
				<div ng-if="$root.post.type === 'poll'">
					<h5 role="label">Add some options</h5>
					<button class="btn" ng-click="$root.post.poll.push({})">add option</button>
					<button class="btn" ng-click="$root.post.poll.splice(($root.post.poll.length - 1), 1)">remove option</button>
					<input class="reg-form" type="text" ng-repeat="options in $root.post.poll track by $index" ng-model="$root.post.poll[$index].choice">
				</div>

				<button class="btn c-bg-primary" ngf-select="upload($file)">Attach an image</button>

				<button ng-click="sendPost(true)" class="btn btn-primary">Post</button>
				<button ng-click="$root.editPost = false" class="btn btn-primary">Cancel</button>
			</div>
		</section>
	</div>
</section>