<!DOCTYPE html>
<html ng-app="Circle">
<head>
	<title>Circle</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge"><!-- for "svg for everyone" in IE <= 8 -->

<!-- MODERNIZR -->
	<script type="text/javascript" src="scripts/modernizr.min.js"></script>

<!-- GREENSOCK JS -->
	<script src="app/gs/TweenMax.min.js"></script>

<!-- jQuery and jQuery UI -->
	<script src="scripts/jquery/jquery-1.12.3.min.js"></script>
	<link rel="stylesheet" href="scripts/jquery/jquery-ui-1.11.4/jquery-ui.css">
	<script src="scripts/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>

<!-- IMAGES LOADED / IMAGE FILL -->
	<script type="text/javascript" src="scripts/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="scripts/jquery-imagefill.js"></script>

	<script type="text/javascript" src="scripts/scripts.js"></script>
	<script type="text/javascript" src="scripts/svgforeverybody.js"></script>
	<script type="text/javascript">svg4everybody();</script>

<!-- INTERNAL SCROLL -->
	<!-- styles needed by jScrollPane -->
	<link type="text/css" href="styles/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<!-- the mousewheel plugin - optional to provide mousewheel support -->
	<script type="text/javascript" src="scripts/jquery.mousewheel.js"></script>
	<!-- the jScrollPane script -->
	<script type="text/javascript" src="scripts/jquery.jscrollpane.min.js"></script>

<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- CIRCLE styles -->
	<link rel="stylesheet" type="text/css" href="app/css/main.css">
	<link rel="stylesheet" type="text/css" href="app/css/loading.css">
</head>
<body ng-class="{'circle-joined': circleJoined, 'circle-not-joined': !circleJoined}" ng-cloak>
	<div id="background-container"><div id="background"></div></div>

	<div class="{{currentState}}" ui-view></div>

	<section ng-if="$root.currentCircle" ng-controller="mainController" id="new-post-area" class="bottom-drawer bottom-drawer-add c-bg-primary" aria-hidden="true">
		<div class="col-md-8 col-md-offset-2">

			<!-- POST TYPE TABS -->
			<div class="tabs radio-tabs">
				<input ng-model="newPost.type" id="post_type_regular" name="postType" value="regular" type="radio" />
				<label class="inner-btn new-post-type-regular post-type-radio" for="post_type_regular">Regular</label>

				<input ng-model="newPost.type" id="post_type_event" name="postType" value="event" type="radio" />
				<label class="inner-btn new-post-type-event post-type-radio" for="post_type_event">Event</label>

				<input ng-model="newPost.type" id="post_type_quest" name="postType" value="quest" type="radio" />
				<label class="inner-btn new-post-type-quest post-type-radio" for="post_type_quest">Quest</label>
			</div>

			<!-- POST INPUT MAIN -->
			<div class="new-post-content">
				<!-- <input 
					type="text" 
					mentio 
					mentio-typed-text="attemptTag" 
					mentio-items="$root.currentCircle.members | filter: attemptTag" 
					ng-model="newPost.content" 
					ng-keyup="generateLinkPreview(); tagUsers()" 
					id="new_post_content" 
					class="form-control" 
					placeholder="Type something"> -->
				
				<textarea 
					ng-model="newPost.content" 
					ng-keyup="generateLinkPreview(); findUsersToTag()" 
					id="new_post_content" 
					class="form-control" 
					placeholder="Type something"></textarea>

				<div ng-if="linkPreview" class="link-preview">
					<div class="link-preview-thumbnail">
						<img src="{{linkPreview.src}}" alt="{{linkPreview.title}}">
					</div>
					<div class="link-preview-text">
						<h3>{{linkPreview.title}}</h3>
						<p>{{linkPreview.description}}</p>
					</div>
				</div>
			</div>

			<!-- TAG USERS -->
			<div ng-if="searchUsersToTag" class="tabs radio-tabs">
				<ul class="select-list" ng-repeat="username in $root.currentCircle.members | filter: attemptTag">
					<!-- <input ng-model="newPost.usersTagged[username]" id="tag_{{username}}" name="user" value="{{username}}" type="checkbox" /> -->
					<li ng-click="tagUser(username)" class="inner-btn new-quest-quester quester-radio" for="tag_{{username}}">{{username}}</li>
				</ul>
			</div>

			<button class="btn c-bg-primary" ngf-select="upload($file)">Attach an image</button>

			<!-- TAGS -->
			<div class="new-post-tags">
			<input ng-model="newPost.tags" ng-keypress="sendPost($event)" type="text" class="form-control" placeholder="tag this post">
			</div>

			<div class="tags-search">
				<div class="multiple-selector">
					<ul class="select">
						<li class="option" data-option="{{tag}}" ng-click="customSelect( '.new-post-tags > input', $event )" ng-repeat="tag in circle.tags | limitTo: tagsLimit">{{tag}}</li>
						<button ng-click="tagsLimit = -1" ng-if="tagsLimit === 5" class="btn btn-primary">See all</button>
					</ul>
				</div>
			</div>
			<button ng-click="sendPost()" class="btn btn-primary">Post</button>
		</div>
	</section>

	<section ng-if="$root.currentCircle" ng-controller="editCircleController" class="bottom-drawer bottom-drawer-edit-circle c-bg-primary" aria-hidden="true">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the theme</p>
					<select ng-model="currentCircle.styles.theme" ng-blur="editCircle('theme')" value="{{$root.currentCircle.styles.theme}}" type="text" class="form-control">
						<option ng-selected="currentCircle.styles.theme == 'smooth'" value="smooth">Smooth</option>
						<option ng-selected="currentCircle.styles.theme == 'material'" value="material">Material</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the palette</p>
					<select ng-model="currentCircle.styles.palette" value="{{$root.currentCircle.styles.palette}}" ng-blur="editCircle('palette')" type="text" class="form-control">
						<option ng-selected="currentCircle.styles.palette == 'original'" value="original">Original</option>
						<option ng-selected="currentCircle.styles.palette == 'light'" value="light">Light</option>
						<option ng-selected="currentCircle.styles.palette == 'dark'" value="dark">Dark</option>
					</select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the font</p>
					<select ng-model="currentCircle.styles.font" value="{{$root.currentCircle.styles.font}}" ng-blur="editCircle('font')" type="text" class="form-control">
						<option ng-selected="currentCircle.styles.font == 'open-sans'" value="open-sans">Open Sans</option>
						<option ng-selected="currentCircle.styles.font == 'montserrat'" value="montserrat">Montserrat</option>
					</select>
				</div>
			</div>

	<!-- 		<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<p>Insert some CSS (experts only)</p>
					<textarea ng-model="$parent.style.css" placeholder="example: .tile { border: 2px solid pink; }" ng-blur="editCircle('css')" class="form-control"></textarea>
				</div>
			</div> -->

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the background</p>
					<button class="btn c-bg-primary" ngf-select="upload('bg', $file)">Select</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the logo</p>
					<button class="btn c-bg-primary" ngf-select="upload('logo', $file)">Select</button>
				</div>
			</div>

		</div>
	</section>


	<!-- ANGULAR -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<!-- <script src="app/angular/angular.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script>

	<!-- ANGULAR UI ROUTER -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script> -->
	<script src="app/angular/angular-ui-router.min.js"></script>


	<!-- ANGULAR LIBRARIES -->
<!-- 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script> -->

	<!-- Angular Material Library -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script> -->

	<!-- THE APP -->
	<script src="app/app.js"></script>

	<!-- CONTROLLERS -->
	<script src="app/signup/signup-controller.js"></script>
	<script src="app/app-bar/app-bar-controller.js"></script>
	<script src="app/login/login-controller.js"></script>
	<script src="app/profile/edit-profile-controller.js"></script>
	<script src="app/main/main-controller.js"></script>
	<script src="app/follow/follow-controller.js"></script>
	<script src="app/single/single-controller.js"></script>
	<script src="app/create-circle/create-circle-controller.js"></script>
	<script src="app/edit-circle/edit-circle-controller.js"></script>
	<script src="app/verify-email/verify-email-controller.js"></script>
	<script src="app/categories/categories-controller.js"></script>

	<!-- NODE LIBRARIES -->
	<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
	<script src="node_modules/ment.io/src/mentio.directive.js"></script>
	<script src="node_modules/ment.io/src/mentio.service.js"></script>

	<!-- INFINITE SCROLL -->
	<!-- <script type='text/javascript' src='scripts/ng-infinite-scroll.min.js'></script> -->

</body>
</html>