<!DOCTYPE html>
<html ng-app="Circle">
<head>
	<title>{{$root.currentCircle.name || 'Circle'}}</title>

	<meta http-equiv="x-ua-compatible" content="ie=edge"><!-- for "svg for everyone" in IE <= 8 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- MODERNIZR -->
	<script type="text/javascript" src="scripts/modernizr.min.js"></script>

<!-- GREENSOCK JS -->
	<script src="app/gs/TweenMax.min.js"></script>

<!-- jQuery and jQuery UI -->
	<script src="scripts/jquery/jquery-1.12.3.min.js"></script>
	<link rel="stylesheet" href="scripts/jquery/jquery-ui-1.11.4/jquery-ui.css">
	<script src="scripts/jquery/jquery-ui-1.11.4/jquery-ui.min.js"></script>

<!-- IMAGES LOADED / IMAGE FILL -->
	<script type="text/javascript" src="scripts/imagesloaded.pkgd.min.js"></script>
	<script type="text/javascript" src="scripts/jquery-imagefill.js"></script>

	<script type="text/javascript" src="scripts/scripts.js"></script>
	<script type="text/javascript" src="scripts/svgforeverybody.js"></script>
	<script type="text/javascript">svg4everybody();</script>

<!-- INTERNAL SCROLL -->
	<!-- styles needed by jScrollPane -->
	<link type="text/css" href="styles/jquery.jscrollpane.css" rel="stylesheet" media="all" />
	<!-- the mousewheel plugin - optional to provide mousewheel support -->
	<script type="text/javascript" src="scripts/jquery.mousewheel.js"></script>
	<!-- the jScrollPane script -->
	<script type="text/javascript" src="scripts/jquery.jscrollpane.min.js"></script>

<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
<!-- FONTAWESOME -->
	<script src="https://use.fontawesome.com/0a6d22b481.js"></script>

<!-- CIRCLE styles -->
	<link rel="stylesheet" type="text/css" href="app/css/main.css">
	<link rel="stylesheet" type="text/css" href="app/css/main-sass.css">
	<link rel="stylesheet" type="text/css" href="app/css/loading.css">
</head>
<body ng-class="{'circle-joined': circleJoined, 'circle-not-joined': !circleJoined}" ng-cloak class="not-visible">
	<div id="background-container">
		<div ng-if="$root.currentCircle" class="background main-bg" style="background-image:url({{$root.currentCircle.styles.bg}})"></div>
		<div ng-if="!$root.currentCircle" class="background main-bg" style="background-image:url(images/default-bg.jpg)"></div>
		<div ng-class="{'visible': $root.archiveTag}" class="background category-bg animate-opacity" style="background-image:url({{$root.archiveTag.image}})"></div>
	</div>

	<div class="state-{{$root.currentState}}" ui-view></div>

<!-- ADD POST -->
	<section ng-if="$root.currentCircle" ng-include src="'app/add-post.html'" ng-controller="mainController" id="new-post-area" class="bottom-drawer bottom-drawer-add c-bg-content" aria-hidden="true"></section>

<!-- EDIT CIRCLE -->
	<section ng-if="$root.currentCircle" ng-controller="editCircleController" class="bottom-drawer bottom-drawer-edit-circle c-bg-content" aria-hidden="true">
		<div class="col-md-8 col-md-offset-2">

			<h3>Styles</h3>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the theme</p>
					<select ng-model="currentCircle.styles.theme" value="{{$root.currentCircle.styles.theme}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.theme == 'smooth'" value="smooth">Smooth</option>
						<option ng-selected="currentCircle.styles.theme == 'material'" value="material">Material</option>
					</select>
					<button ng-click="styleCircle('theme')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the palette</p>
					<select ng-model="currentCircle.styles.palette" value="{{$root.currentCircle.styles.palette}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.palette == 'original-blue'" value="original-blue">Original Blue</option>
						<option ng-selected="currentCircle.styles.palette == 'troll-hollow'" value="troll-hollow">Troll Hollow</option>
						<option ng-selected="currentCircle.styles.palette == 'sunlit-sail'" value="sunlit-sail">Sunlit Sail</option>
					</select>
					<button ng-click="styleCircle('palette')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the font</p>
					<select ng-model="currentCircle.styles.font" value="{{$root.currentCircle.styles.font}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.font == 'open-sans'" value="open-sans">Open Sans</option>
						<option ng-selected="currentCircle.styles.font == 'montserrat'" value="montserrat">Montserrat</option>
					</select>
					<button ng-click="styleCircle('font')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the background</p>
					<button class="btn c-bg-primary" ngf-select="upload('bg', $file)">Select</button>
					<input class="reg-form" ng-model="bgLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('background', bgLink)">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the logo</p>
					<button class="btn c-bg-primary" ngf-select="upload('logo', $file)">Select</button>
					<input class="reg-form" ng-model="logoLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('logo', logoLink)">Save</button>
				</div>
			</div>

			<div class="row" ng-if="$root.archiveTag">
				<div class="col-md-6 col-md-offset-3">
					<p>Select a featured image for this tag</p>
					<button class="btn c-bg-primary" ngf-select="upload('tagImage', $file)">Select</button>
					<input class="reg-form" ng-model="tagImageLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('tagImage', tagImageLink)">Save</button>
				</div>
			</div>

			<h3>Settings</h3>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Name your currency</p>
					<input class="reg-form" ng-model="currentCircle.currency.singularName" name="currency_name_singular" placeholder="singular name (e.g. 'dollar')">
					<input class="reg-form" ng-model="currentCircle.currency.pluralName" name="currency_name_plural" placeholder="singular name (e.g. 'dollar')">
					<button ng-click="editCurrency()" class="btn btn-default">Save</button>
				</div>
			</div>

		</div>
	</section>


	<!-- ANGULAR -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script> -->
	<script src="app/angular/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-animate.js"></script> -->
	<script src="node_modules/angular-animate/angular-animate.min.js"></script>

	<!-- ANGULAR UI ROUTER -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script> -->
	<script src="app/angular/angular-ui-router.min.js"></script>


	<!-- ANGULAR LIBRARIES -->
<!-- 	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script> -->

	<!-- Angular Material Library -->
	<!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script> -->

	<!-- THE APP -->
	<script src="app/app.js"></script>

	<!-- CONTROLLERS -->
	<script src="app/signup/signup-controller.js"></script>
	<script src="app/app-bar/app-bar-controller.js"></script>
	<script src="app/login/login-controller.js"></script>
	<script src="app/profile/edit-profile-controller.js"></script>
	<script src="app/main/main-controller.js"></script>
	<script src="app/single/single-controller.js"></script>
	<script src="app/create-circle/create-circle-controller.js"></script>
	<script src="app/edit-circle/edit-circle-controller.js"></script>
	<script src="app/verify-email/verify-email-controller.js"></script>
	<script src="app/categories/categories-controller.js"></script>
	<script src="app/members/members-controller.js"></script>

	<!-- NODE LIBRARIES -->
	<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-all.js"></script>
	<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
	<script src="node_modules/ment.io/src/mentio.directive.js"></script>
	<script src="node_modules/ment.io/src/mentio.service.js"></script>

	<!-- INFINITE SCROLL -->
	<!-- <script type='text/javascript' src='scripts/ng-infinite-scroll.min.js'></script> -->

</body>
</html>