html {
	background-color: #fff;
	background-image: radial-gradient(#ffffff, #eaeef4);
	height: 100%;
}

body {
	padding-top: 9em;
	background: #000;
	color: #fff;
}

.login {
	position: relative;
}

body.not-visible {
	opacity: 0;
}

body:not(.not-visible) {
/*  -webkit-animation: fadein 0.6s;
     -moz-animation: fadein 0.6s;
      -ms-animation: fadein 0.6s;
       -o-animation: fadein 0.6s;
          animation: fadein 0.6s;*/
  opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/** General layout **/

body, html {
	overflow: hidden;
	opacity: 1;
}

*[aria-hidden="true"] {
	display: none;
}

main#signup {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

* {
	cursor: default !important;
}

a {
	cursor: pointer !important;
}

a, span {
	word-wrap: break-word;
}

.no-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}


/* feature detects */
.placeholder label:not(.inner-btn) { display: none; }


/* icons */
svg {
    position: relative;
    overflow: visible !important;
    fill: currentColor;
}

.no-svgasimg .svg-img {
	display: none;
}

/* buttons */
button[disabled] {
	opacity: 0.5;
}

.transparent-btn, .transparent-btn:focus { 
	-webkit-appearance: none;
	background: transparent none;
	border: none;
	box-shadow: none;
	border-radius: 10em;
}

	.transparent-btn:active,
	.transparent-btn:hover {
		background: rgba(0,0,0,0.1);
		cursor: pointer;
	}

.has-icon-left .fa {
	font-size: 1.5em;
  padding-right: 0.4em;
  position: relative;
    top: 0.1em;
}

/* ----- TYPOGRAPHY ----- */

/* sizes and format */
body {
	font-size: 10px;
}
.btn {
	font-size: 1em;
}

input, textarea {
	font-size: 1.4em;
}

.center, .centered {
	text-align: center;
}

h2 {
	font-size: 4.2em;
	font-weight: normal;
}

h1 *, h2 *, h3 *, h4 *, h5 *, p *, span * {
	font-size: 1em;
}

p {
	font-size: 1.1em;
	line-height: 1.5;
}

article {
	font-size: 1.8em;
	line-height: 1.4;
	font-weight: normal;
	word-wrap: break-word;
}

article a {
	border-bottom: 0.1em dotted rgba(255,255,255,0.4);
}

.bold-caps {
	font-weight: bold !important;
	text-transform: uppercase !important;
	letter-spacing: 0.05em !important;
}


/* fonts */
body.font-helvetica {
	font-family: Helvetica, Arial, sans-serif;
}

body.font-montserrat {
	font-family: 'Montserrat', Helvetica, sans-serif;
}

body.font-open-sans {
	font-family: 'Open Sans', Helvetica, sans-serif;
}

body.font-pridi {
	font-family: 'Pridi', Helvetica, sans-serif;
}


/* styles */
a, a:hover, a:focus {
	color: #fff;
	color: inherit !important;
}
a:hover, a:focus {
	border-bottom: 0 none;
	text-decoration: none;
}

.opaque {
	opacity: 1 !important;
}

.transparent {
	opacity: 0 !important;
}

.text-shadow {
	text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}


/** THEMES **/
.theme-smooth .app-bar,
.theme-smooth .main-menu,
.theme-smooth .less-rounded {
	border-radius: 0.6em;
}

.theme-smooth .main-menu {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.theme-smooth .tile,
.theme-smooth .post-main,
.theme-smooth .reg-btn {
	border-radius: 2.2em;
}

.theme-smooth .reg-form,
.theme-smooth .bottom-drawer,
.theme-smooth .drawer-bar {
	border-top-left-radius: 0.6em;
	border-top-right-radius: 0.6em;
}

.theme-smooth .reg-form {
	border-bottom-left-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
}

.theme-smooth .archive-post .post-inner {
	opacity: 0.9;
}

.theme-smooth .archive-post .post-inner:hover {
	opacity: 1;
}


.theme-material .app-bar,
.theme-material .main-menu {
	border-radius: 0.2em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.theme-material .less-rounded {
	border-radius: 0.2em;
}

.theme-material .main-menu {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.theme-material .drawer-bar {
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
}

.theme-material .tile,
.theme-material .reg-form,
.theme-material .bottom-drawer {
	border-radius: 0.2em;
	box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.theme-material .reg-form,
.theme-smooth .reg-btn {
	border-radius: 0.1em;
}





/* CIRCLE - general */

/* animations */
.animate-opacity {
	-webkit-transition: opacity 0.4s !important;
	-moz-transition: opacity 0.4s !important;
	-ms-transition: opacity 0.4s !important;
	-o-transition: opacity 0.4s !important;
	transition: opacity 0.4s !important;
}

.animate-opacity-slow {
	-webkit-transition: opacity 1s !important;
	-moz-transition: opacity 1s !important;
	-ms-transition: opacity 1s !important;
	-o-transition: opacity 1s !important;
	transition: opacity 1s !important;
}

.animate-med {
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.animate-opacity.ng-hide,
.animate-opacity.ng-hide-add {
	opacity: 0 !important;
}

.animate-opacity.ng-show,
.animate-opacity.ng-hide-remove {
	opacity: 1 !important;
}


.animate-opacity-motion-rl, .animate-opacity-motion-du {
	-webkit-transition: all 0.6s !important;
	-moz-transition: all 0.6s !important;
	-ms-transition: all 0.6s !important;
	-o-transition: all 0.6s !important;
	transition: all 0.6s !important;
}

.animate-opacity-motion-rl.ng-hide {
	opacity: 0;
}

.animate-opacity-motion-rl.ng-hide:not(.ng-hide-add) {
	transform: translateX(40px);
}

.animate-opacity-motion-rl.ng-show {
	opacity: 1;
	transform: translateX(0px);
}

.animate-opacity-motion-rl.ng-hide-add {
	transform: translateX(-40px);
}

.animate-opacity-motion-rl.ng-hide-remove {
	transform: translateX(0px);
	transition-delay: 0.2s !important;
}


.animate-opacity-motion-du.ng-hide {
	opacity: 0;
}

.animate-opacity-motion-du.ng-hide:not(.ng-hide-add) {
	transform: translateY(40px);
}

.animate-opacity-motion-du.ng-show {
	opacity: 1;
	transform: translateY(0px);
}

.animate-opacity-motion-du.ng-hide-add {
	transform: translateY(-40px);
}

.animate-opacity-motion-du.ng-hide-remove {
	transform: translateY(0px);
}


.login {
	position: relative;
	z-index: 999999;
}


/* background*/
#background-container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0.9;
}

.background {
	position: absolute;
	top: -2.5%;
	left: -2.5%;
	z-index: -1;
	width: 110%;
	height: 110%;

	background-repeat: no-repeat;
	background-position: center center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-filter: blur(4px);
	filter: blur(4px);
}

.theme-material .background {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.category-bg {
	opacity: 0;
}

.category-bg.visible {
	opacity: 1;
}

/* app bar */
nav, .navbar {
	background: transparent;
}

nav {
	position: relative;
	z-index: 100;
}

.main-nav {
	overflow: visible;
	height: 6em;
}

.app-bar {
	position: relative;
	height: 6em;
	padding: 0;
	margin-top: 1.6em;
/*	
	background-repeat: no-repeat !important;
  background-size: auto 4em !important;
  background-position: 50% !important;
*/
}

.app-bar-left {
	float: left;
}

.app-bar-right {
	float: right;
}

.logo {
	width: 4em;
	height: 4em;
	display: block;
	margin: 0 0 0 -2em;
	top: 1em;
	left: 50%;
	position: absolute;
	z-index: 110;

	border-radius: 8em;
	overflow: hidden;

	background-repeat: no-repeat !important;
  background-size: auto 4em !important;
  background-position: 50% !important;
}

	.palette-original .app-bar {
		text-shadow: 0.8em 0.3em 1px rgb(134,184,219);
	}
	.palette-original .logo {
		box-shadow: 0.8em 0.3em 1px rgb(136,186,221);
	}

	.theme-material .logo {
		
	}

.app-bar h3 {
	float: left;
	width: 100%;
	margin: 0;
	text-align: center;
	line-height: 6em;
	font-size: 1em;
	text-transform: uppercase;
	color: #ffffff;
	font-family: Helvetica, sans-serif !important;
}

	.app-bar h3.has-logo {
		text-align: left;
		padding-left: 6.2em;
	}

.app-bar h3 a {
	font-size: 1.3em;
}

.app-bar .app-bar-btn {
	top: -5.8em !important;
	line-height: 6em !important;
}

.app-bar-btn svg {
    width: 2.4em;
    height: 2.4em;
}

.app-bar-btn .fa {
	font-size: 1.8em;
}

/* MAIN MENU */

.main-menu {
	position: absolute;
		left: 0;
		top: 1.6em;
		z-index: -1;
	width: 30em;
  height: auto;
  padding: 9em 0 3em 0;
  border-right: 1em solid;
  text-align: center;
}

.main-menu-inner {
	padding: 0 3em;
}

.main-menu .drawer-bar {
	position: absolute;
    top: 0;
    left: 0;
  width: 100%;
  box-sizing: content-box;
  border-right: 1.2em solid;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.main-menu .drawer-bar h3 {
	width: 100%;
	text-align: center;
}

.main-menu h4 {
	font-size: 2.4em;
	margin-top: 1.4em;
}


.profile-btn {
	display: block;
}

.profile-btn > * {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

	.profile-btn > span {
		display: block;
    padding-top: 1em;
    font-size: 1.2em;
	}

.submenu {
	float: left;
}

.your-circles {
	border-radius: 0.4em;
}

.your-circles h5 {
	font-size: 1.1em;
	line-height: 3em;
}

.your-circles .logo {
	position: relative;
		left: 0;
	float: left;
	margin: 0 1em 0 0;
	width: 3em;
	height: 3em;
}

.your-circles .inner-btn {
	height: 5.2em;
	border-bottom: 1px solid rgba(50,50,50,0.1);
	text-align: left;
}

.your-circles .create-or-join {
	margin: 0 auto;
	text-align: center;
	color: #fff !important;
}

	.your-circles .create-or-join:hover,
	.your-circles .create-or-join:active {
		text-decoration: underline;
		background: transparent !important;
	}

.main-menu .log-out {
	width: 100%;
	margin-top: 3em;
}

	.main-menu .log-out:hover,
	.main-menu .log-out:focus,
	.main-menu .log-out:active {
		background: transparent !important;
		text-decoration: underline;
	}

@media screen and (max-width: 991px) {
	.app-bar {
		margin-top: 0;
		border-radius: 0 !important;
	}

	.main-menu {
		top: 0;
	}
}



/* POSTS MAIN */

/* nav bar */
.circle-nav {
	position: absolute;
	  z-index: 101;
	  bottom: 0;
  height: 7em;
}

.circle-nav-inner {
	position: relative;
	z-index: 100;
	float: left;
}

	.circle-sorting {
		width: 40%;
	}

.circle-sorting > div {
	border-right: 0.4em solid rgba(50,50,50,0.1);
}

.circle-sorting, .circle-sorting .tile {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

	.circle-views {
		width: 60%;
	}

.circle-views, .circle-views .tile {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

/*.circle-views .tile {
	border-left: 0.3em solid rgba(50,50,50,0.1);
}*/

.circle-nav .tile {
	overflow: hidden;
	height: 8em;
	line-height: 1;
}

	.theme-smooth .circle-nav .tile {
		border-radius: 0.6em;
	}

	.theme-material .circle-nav .tile {
		border-radius: 0.2em;
	}

.circle-nav .inner-btn.has-icon {
	height: 7.6em !important;
}

@media screen and (max-width: 991px) {
	body {
		padding-top: 7em;
	}

	.circle-nav {
		width: 100%;
	}

	.circle-nav .inner-btn {
		padding: 0;
	}

	.circle-nav-inner .tile {
		height: 8em;
	}

		.theme-smooth .circle-nav-inner .tile {
			border-radius: 0 !important;
		}

		.theme-material .circle-nav-inner .tile {
			border-radius: 0 !important;
		}

	.inner-btn.has-icon {
		height: 9em !important;
	}

	/*.circle-sorting,
	.circle-views {
		width: 100%;
		padding: 0;
	}
	.circle-sorting .tile {
		margin-bottom: 0.8em;
	}
	.circle-views .tile {
		margin-bottom: 3em;
	}
	.theme-smooth .circle-views .tile {
		border-radius: 2.2em;
	}
	.theme-smooth .circle-sorting .tile {
		border-radius: 0.4em;
	}
	.theme-smooth .circle-views .tile {
		border-top-left-radius: 0.4em;
		border-top-right-radius: 0.4em;
	}
	.theme-material .circle-views .tile {
		border-radius: 0.2em !important;
	}
	.theme-material .circle-sorting .tile {
		border-radius: 0.2em;
	}
	.theme-material .circle-views .tile {
		border-top-left-radius: 0.2em;
		border-top-right-radius: 0.2em;
	}*/
}

@media screen and (max-height: 600px) {
	body {
		padding-top: 7em;
	}
}

.refine-filter {
	position: relative;
		z-index: 99;
		top: -1.1em;
	padding: 0;
}

.refine-filter li {
	width: 49%;
	margin: 0;
}

	.refine-filter .filter-by-author {
		margin-right: 0.5%;
	}

	.refine-filter .filter-by-mention {
		margin-left: 0.5%;
	}

.refine-filter li span {
	font-size: 1.2em;
}

.tags-dropdown {
	float: left;
	position: absolute;
		top: 8em;
		left: 40%;
		z-index: 102;
	width: 30em;
	margin-left: -15em;
}

.tags-dropdown ul {
	padding: 0;
}

.tags-dropdown li {
	list-style: none;
	display: block;
}

.square-btn {
	height: 10em !important;
}

.btn-text {
	font-size: 0.8em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 600px) and (max-width: 600px) {
	.inner-btn.has-icon > span {
		bottom: 0.6em !important;
	}

	.inner-btn.has-icon span span {
		display: none;
	}
}


/* posts */

.main {
	position: relative;
		top: -10em;
	height: 1000px;
    overflow: auto;
    width: 100%;
    padding-top: 12em;
}

::-webkit-scrollbar {
	display: none;
}


.loading .posts-archive-container {
	opacity: 0.3;
}

.archive-loading {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.dot {
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid white;
  border-radius: 50%;
  float: left;
  margin: 0 0.5em;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: fx 1000ms ease infinite 0ms;
          animation: fx 1000ms ease infinite 0ms;
}
.dot:nth-child(2) {
  -webkit-animation: fx 1000ms ease infinite 300ms;
          animation: fx 1000ms ease infinite 300ms;
}
.dot:nth-child(3) {
  -webkit-animation: fx 1000ms ease infinite 600ms;
          animation: fx 1000ms ease infinite 600ms;
}
@-webkit-keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fx {
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.posts-archive,
.category-archive {
	padding: 0 0 10em 0;
}

	.posts-archive.bottom-drawer-toggled,
	.category-archive.bottom-drawer-toggled {
		padding-bottom: 32em;
	}

h1.archive-header {
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 5em;
}

	.archive-header.user {
		margin-bottom: 3em;
	}

.archiver-header.user .name {
	margin-top: 0.2em;
	margin-bottom: 0.1em;
}

.tile, .post-main {
	box-sizing: border-box;
}

.theme-smooth .post:not(.has-image):not(.circle-nav) .post-main {
	border: 0.3em solid rgba(0,0,0,0.1);
}

.post {
	position: relative;
	display: block;
	z-index: 10;
	margin-bottom: 2.7em;
}

	.post.has-image .post-main {
		color: #fff !important;
	}

.post-inner {
	position: relative;
	display: block;
	padding: 0;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-position: left top !important;
	background-size: auto 101% !important;
	background-size: cover !important;
}

.post-bg {
	display: none;
}

.post-inner * {
	float: left;
}

.post-main {
	display: block;
	position: relative;
	height: 31.5em;
	width: 100%;
	padding: 0 3em;
	margin: 0;
}

	.post.has-image .post-main {
		background: rgba(0,0,0,0.6);
	}

.post .content {
  position: absolute;
  line-height: 15em;
  vertical-align: middle;
  bottom: 8em;
  height: 15em;
  padding: 0 3em 0 0;
  overflow: hidden;
  font-weight: 300;
}

.post .content article {
	font-size: 2.2em;
	float: none !important;
	display: inline-block;
	vertical-align: middle;
}

.post .post-before {
	position: absolute;
		z-index: 110;
	width: 100%;
	height: 6em;
	line-height: 6.1em;
	padding: 0 3em;
}

.post .post-before h3 {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin: 0;

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.post .post-before h3 span i {
	opacity: 0.1;
	font-size: 1.6em;
}

	.palette-original-blue .post .post-before h3 span i {
		opacity: 0.3;
	}

.post .commenter {
	position: relative;
		top: 1.4em;
	float: right;
	margin-left: 0.8em;
}

.post .more-commenters {
	float: right;
	position: absolute;
		top: 1.6em;
		right: 1.1em;
	line-height: 3em;
	opacity: 0.4;
}

.post .post-after {
	position: absolute;
		bottom: 2em;
}

.author .author-name {
	line-height: 3.4em;
	margin-left: 1em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: bold;
}

	.theme-smooth .author .author-name {
		line-height: 3.9em;
	}

.author .avatar-container,
.author .author-name {
	float: left;
}

.author .avatar-container,
.commenter .avatar-container {
	box-sizing: content-box;
	width: 3.8em;
	height: 3.4em;
	line-height: 3.4em;
	overflow: hidden;
	border-radius: 0.2em;
}

	.theme-smooth .author .avatar-container {
		width: 3.4em;
		border: 0.2em solid rgba(0,0,0,0.1);
		border-radius: 1em;
	}

	.theme-smooth .post .commenter .avatar-container,
	.theme-smooth .post.has-image .avatar-container {
		border: 0.2em solid rgba(255,255,255,0.8);
	}

	.author .avatar-container.no-avatar,
	.commenter .avatar-container.no-avatar,
	.profile-btn .avatar-container.no-avatar,
	.archive-header .avatar-container.no-avatar {
		text-align: center;
		color: #fff;
	}

	.profile-btn .avatar-container,
	.archive-header .avatar-container {
		font-size: 4em;
    width: 2em;
    height: 2em;
    border-radius: 4em;
    line-height: 2em;
	}

	.archive-header .avatar-container {
		font-size: 6em;
	}

	.post .commenter .avatar-container {
		width: 3.2em;
		height: 2.9em;
		line-height: 2.9em;
	}

		.post .commenter .avatar-container.no-avatar {
			border: 0.2em solid rgba(255,255,255,0.5);
		}

		.theme-smooth .post .commenter .avatar-container {
			width: 2.9em;
			border-radius: 0.8em;
		}

		.archive-header .avatar-container {
			margin: 0 auto;
		}

.avatar-container.no-avatar span {
	display: inline-block;
	font-size: 1.2em;
	width: 100%;
}

	.profile-btn .avatar-container.no-avatar span,
	.archive-header .avatar-container.no-avatar span {
		position: relative;
			top: -0.15em;
		display: inline-block;
		font-size: 0.7em;
		width: 100%;
	}

@media only screen and (max-width: 991px) {
	.post {
		clear: both;
	}

	.refine-filter {
		float: left;
		width: 100%;
	}
}

/* DRAWERS */

/* BOTTOM DRAWER */
.drawer-bar {

}

.drawer-bar h3 {
	float: left;
	font-size: 2.2em;
	font-weight: normal;
	line-height: 3em;
	margin: 0 0.6em 0 0;
}

.bottom-drawer {
	position: absolute;
		z-index: 110;
		bottom: 0;
	padding: 0;
	box-shadow: 0.1em -0.3em 0.5em rgba(0,0,0,0.1);
}

	.bottom-drawer .col-md-12 {
		padding: 0 4em;
	}

.drawer-inner {
	overflow: auto;
	height: 30em;
	padding-top: 3em !important;
	padding-bottom: 5em !important;
}

	.bottom-drawer-edit-circle .drawer-inner {
		padding-top: 1em !important;
		padding-bottom: 10em !important;
	}

.bottom-drawer-edit-circle .drawer-inner .styles,
.bottom-drawer-edit-circle .drawer-inner .settings {
	max-width: 60em;
}

.bottom-drawer-edit-circle .no-gutter {
	padding-right: 2em !important;
}

.bottom-drawer-add {

}

.bottom-drawer-add .event-info {
	max-width: 48em;
}

.bottom-drawer-add .poll-info .pull-left {
	clear: both;
}

.bottom-drawer-add .poll-info button {
	margin-bottom: 1em;
}

	.bottom-drawer-add .poll-info .floating-btn.remove-btn {
		position: absolute;
		  top: 50%;
			right: 1.8em;
	  width: 2em;
	  height: 2em;
	  margin-top: -1.5em;
		background: #cc8888 !important;
		box-shadow: none !important;
	}

.bottom-drawer p {
	opacity: 0.8;
	margin-bottom: 0;
}

.bottom-drawer-add h4 {
	margin-top: 1.6em;
	margin-bottom: 0.8em;
}

.bottom-drawer .upload-btn {
	margin-bottom: 0.7em;
}

.radio-tabs input {
	visibility: hidden;
	float: left;
	position: absolute;
		top: -99999px;
		left: -99999px;
}

.radio-tabs label {
	font-size: 2.2em;
	height: 3em;
	padding: 0 0.4em;
	margin: 0;
	line-height: 2.95em !important;
	font-weight: normal;
	opacity: 0.6;
}

.radio-tabs input:checked + label {
	font-weight: bold;
}

@media screen and (max-width: 991px) {
	.bottom-drawer {
		font-size: 0.8em;
		width: 100%;
	}
	.drawer-inner {
		height: 40em;
	}
}

/* BUTTONS */
button:focus, button:active {
	outline: none !important;
	box-shadow: none !important;
	border: none !important;
}

.clear-btn,
.clear-btn:hover,
.clear-btn:focus,
.clear-btn:active,
.clear-btn.active {
	background-color: transparent !important;
	background-image: none !important;
	border: 0 none !important;
	outline: none !important;
	box-shadow: none !important;
}

.inner-btn {
	display: block;
	float: left;
	position: relative;
		z-index: 101;
	height: 6em;
  box-shadow: none;
  outline: none;
  border: none;
  background: transparent;
  line-height: 6em !important;
  padding: 0 2em;

  text-align: center;
}

	.inner-btn:focus {
		background: transparent !important;
	}

	.main-menu .inner-btn {
		width: 100%;
	}

	.circle-sorting .inner-btn {
		width: 25%;
	}

	.circle-views .inner-btn {
		width: 20%;
	}

	.tags-dropdown .inner-btn {
		width: 50%;
		margin: 0;
	}

	.theme-material .inner-btn {
		top: 0;
	}

	.inner-btn.has-icon {
		height: 8em;
	}

	.inner-btn.back-btn {
		width: 100%;
		height: 7em;
		line-height: 7.2em !important;
		text-transform: uppercase;
		font-weight: normal;
	}

.inner-btn > span {
	display: inline-block;
	font-weight: bold;
	letter-spacing: 0.1em;
	line-height: 1.1em !important;
	font-size: 0.9em;
}

	.inner-btn.has-icon > span {
		display: inline-block;
		font-size: 0.8em;
	  text-transform: uppercase;
	  line-height: 3.6em !important;
	  position: relative;
	  bottom: -1.1em;
	}

.inner-btn.has-icon > span .fa {
	display: block;
	position: relative;
	top: 0.2em;
	font-size: 2.2em;
}

	.back-btn .fa {
		margin-right: 0.6em;
		font-size: 1.2em;
		font-weight: bold;
	}

.inner-btn span span {
	opacity: 0.5;
}

	.inner-btn:hover span span,
	.inner-btn:active span span,
	.inner-btn.active span span,
	.inner-btn:focus span span {
		opacity: 1;
	}

.floating-btn-container {
	position: absolute;
    z-index: 109;
    bottom: 9em;
    right: 8.3%;
  width: 6em;
  overflow: visible;
}

.floating-btn {
	float: right;
	width: 6em;
  height: 6em;
  border: 0 none;
  outline: 0 none;
  border-radius: 12em;
  box-shadow: 0.2em 0.1em 0.7em rgba(0,0,0,0.2) !important;
}
	
	.floating-btn:hover,
	.floating-btn:active,
	.floating-btn.active {
		box-shadow: 0.5em 0.4em 1.1em rgba(0,0,0,0.2) !important;
	}

.reg-btn {
	display: block;
	padding: 1em 1.5em;
	min-width: 10em;
	border: 0 none !important;

	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	/*box-shadow: 1px 2px 3px rgba(0,0,0,0.1);*/
	box-shadow: none;
}

.reg-btn-alt,
.reg-btn.alt,
.reg-btn.compact {
	font-size: 1em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	box-shadow: none;
  padding: 1.7em 2.6em;
}

.reg-btn.compact {
	padding: 1.4em 2.4em;
}

.reg-btn.mini {
	padding: 1em 2em;
}

.send-btn {
	float: left;
	clear: both;
	margin-top: 2em;
}


/* ADD POST */

.ui-datepicker {
	background: #8bd;
  border: 2px solid #7ac;
}

.attach-images-inner {
	margin-bottom: 1em;
	width: 100%;
	overflow: hidden;
}

.attach-images .carousel {
	width: 100%;
	overflow: auto;
	white-space: nowrap;
}

.attach-images-inner button {
	float: left;
	margin-right: 1em;
}

.attach-images-inner .reg-form {
	float: left;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.attach-image-btn,
.attached-image {
	display: inline-block;
	width: 10em;
	height: 10em;
	line-height: 9em;
	margin-right: 1em;
	border: 0;
	text-align: center;
	box-shadow: none;
	outline: 0;
	border-radius: 0.2em;
	background-color: rgba(255,255,255,0.6);
	background-size: 100% auto;
	background-size: cover;
}

	.theme-material .attached-image {
		box-shadow: 0 2px 2px rgba(0,0,0,0.2);
	}

.attach-image-btn > * {
	font-size: 5em;
	opacity: 0.4;
}

	.attach-image-btn:hover > * {
		opacity: 0.6;
	}

/* post search dropdown */
.post-search-list {
	float: left;
	position: absolute;
		z-index: 110;
		top: 11em;
	overflow: auto;
	width: 100%;
	max-height: 12em;
	background: transparent;
	box-shadow: 1px 3px 8px rgba(0,0,0,0.1);
}

.post-search-list ul {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	background: #fff;
}

.post-search-list ul li {
	width: 100%;
	padding: 2em;
	border-bottom: 2px solid rgba(120,120,120,0.1);
	opacity: 0.8;
}

.post-search-list ul li:hover,
.post-search-list ul li.selected {
	opacity: 1;
}

/* QUEST */

.quest-form {
	float: left;
}

	.quest-form-left {
		margin-right: 1em;
	}

	.quest-form-right input {

	}

/* MISC */

.link-preview img {
	float: left;
	width: 25%;
	height: auto;
	padding-right: 30px;
}

.link-preview-text {
	float: left;
	width: 75%;
	padding-left: 20px;
	border-left: 6px solid #eeeeee;
}

@media screen and (max-width: 991px) {
	.floating-btn-container {
		bottom: 9.8em;
		right: 1.6em;
	}
}

/* FORMS */

input.reg-form::-webkit-input-placeholder {
	opacity: 0.8;
}
input.reg-form:-moz-placeholder { /* Firefox 18- */
	opacity: 0.8;
}
input.reg-form::-moz-placeholder {  /* Firefox 19+ */
	opacity: 0.8;
}
input.reg-form:-ms-input-placeholder {  
	opacity: 0.8;
}
textarea.reg-form::-webkit-input-placeholder {
	opacity: 0.8;
}
textarea.reg-form:-moz-placeholder { /* Firefox 18- */
	opacity: 0.8;
}
textarea.reg-form::-moz-placeholder {  /* Firefox 19+ */
	opacity: 0.8;
}
textarea.reg-form:-ms-input-placeholder {  
	opacity: 0.8;
}

input.line-form::-webkit-input-placeholder {
	color: #fff !important;
}
input.line-form:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
input.line-form::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
input.line-form:-ms-input-placeholder {  
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}

textarea.line-form::-webkit-input-placeholder {
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
textarea.line-form:-moz-placeholder { /* Firefox 18- */
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
textarea.line-form::-moz-placeholder {  /* Firefox 19+ */
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
textarea.line-form:-ms-input-placeholder {  
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
input.line-form:placeholder-shown {
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}
textarea.line-form:placeholder-shown {
	color: #fff !important;
	opacity: 0.8;
	font-weight: bold;
}

input, textarea, select {
	display: block;
	width: 100%;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	outline: none !important;
	border-bottom: 3px solid;
	margin: 1em 0 0.4em;
	padding: 1em;
	font-size: 1.2em;

	-webkit-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	-ms-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	transition: all 0.4s !important;
}

textarea {
	padding: 2em;
}

.reg-form {
	padding: 1.4em 1.5em;
	margin-top: 0;
	border-width: 0;
	border-bottom-width: 0.6em;
	background: rgba(255,255,255,0.5);

	font-size: 1.6em;
}

	.reg-form.compact {
		padding: 0.6em 1.5em;
	}

	.reg-form[type="number"] {
		width: 4em;
		padding-right: 0.2em;
	}

	select.reg-form {
    font-size: 1.2em;
    height: 4em !important;
	}

.line-form {
	background: none;
	border-radius: 0;
	text-align: center;
	color: #fff;
	border-bottom: 3px solid #fff;
	margin: 1em 0;
	padding: 2em 0 1.3em;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1.2em;
	font-weight: bold !important;

	-webkit-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	-ms-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	transition: all 0.4s !important;
}

.line-form:focus {
	outline: 0 none !important;
	border: none !important;
	box-shadow: none !important;
	border-bottom: 3px solid #fff !important;
}

.line-form.invalid,
.line-form.invalid:focus {
	border-bottom: 3px solid #cc4444 !important;
}

.line-form.valid,
.line-form.valid:focus {
	border-bottom: 3px solid #44cc88 !important;
}


/* SETUP FORMS (signup and create/join circle) */
.setup-form-container {
	position: relative;
	margin-top: 4em;
	width: 100%;
	text-align: center;
}

	.signup-container {
		margin-top: 0;
	}

.setup-form {
	position: relative;
}

.form-section-container {
	position: absolute !important;
		top: 0;
		left: 0;
		z-index: 100;
	width: 100%;
	margin-bottom: 8em;
}

.floating-animation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.setup-form button {
	margin-top: 2em;
}


/* signup */
#signup {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
}

.signup-intro, .signup-form {
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.signup-intro {
	opacity: 1;
	margin-top: 11em;
	margin-bottom: 9em;
	transform: translateY(14em);
	text-align: center;
}

.signup-intro.shift-up {
	transform: translateY(0px) scale(0.7, 0.7);
}

.signup-form {
	transition: all 0.8s cubic-bezier(0, 0.3, 0.3, 1);
	transition-delay: 0.7s;
}

.signup-form.intro-active {
	opacity: 0;
	transform: translateY(3em);
}

/* intro animation */
.signup-intro h2 span,
.signup-intro img {
	opacity: 0;
	
	-webkit-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-moz-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-ms-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	-o-transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
	transition: all 0.8s cubic-bezier(0.7, 0, 0.3, 1);
}

.welcome-text {
	margin-top: -4.2em;
	font-size: 2.3em;
	font-weight: bold;
}

.tip-flyout {
    position: absolute;
    right: 0;
    margin-top: -4.8em;
    padding: 0.8em 1.4em;
    border-radius: 2px;
    background: #333333;
}

.centered-btn {
	display: block;
	margin: 0 auto;
	padding: 1.3em 2em;
	min-width: 20em;
	border: 0 none !important;
	border-radius: 0.2em;

	font-size: 1.2em;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	/*box-shadow: 1px 2px 3px rgba(0,0,0,0.1);*/
	box-shadow: none;
}

.floating-nav-btn {
	position: absolute;
    top: 2em;
    right: 2.8em;
    z-index: 200;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    text-decoration: underline;
    color: #fff;
}

.floating-nav-btn.floating-nav-left {
	left: 2.8em;
	right: auto;
}


/** CATEGORIES PAGE **/
.category-tile {
	height: 18em;
	line-height: 18em;
	margin-bottom: 2.8em;
	text-align: center;
}

.category-tile > a {
	background-size: 100% 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.category-tile span {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
	color: #fff;
}

.trash-btn,
.trash-btn:focus {
	position: absolute;
		z-index: 99;
		top: 2em;
		right: 2em;
	height: 3em;
	width: 3em;
	padding: 0;
	margin: -1em 0 0 0;
	line-height: 3em;
	color: #fff;
	-webkit-appearance: none;
	background: transparent none;
	border: none;
	box-shadow: none;
	border-radius: 10em;
}

	.trash-btn:active,
	.trash-btn:hover {
		background: rgba(0,0,0,0.1);
		cursor: pointer;
	}

	.no-touchevents .trash-btn {
		display: none;
	}

	.no-touchevents .category-tile:hover .trash-btn {
		display: block;
	}

.trash-btn .fa {
	font-size: 1.5em;
}


/** SINGLE POST **/

/* edit */
#edit-post-area {
	position: absolute;
		top: 30em;
		z-index: 99;
	width: 100%;
}

/* view */
.single-post > .single-post-inner {
	padding-bottom: 18em !important;
}

.single-post-masthead {
	padding-bottom: 3em;
}

.after-content {
	height: 7em;
	line-height: 7em;
}

.after-content > * {
}

	.after-content .date {
		position: relative;
    line-height: 3.9em;
    left: 2em;
	}

	.after-content .reactions {
		position: relative;
			top: 0.1em;
	}

.post-images img {
	margin: 0 0 1em 0;
	min-width: 40em;
	max-width: 100%;
}

.reactions > button {
	position: relative;
	overflow: visible;
	font-size: 1.8em;
}

.reactions button i {
  position: relative;
  	top: 0.2em;
  float: left;
  padding-right: 0.1em;
}

	.reactions button,
	.reactions button:hover,
	.reactions button:focus,
	.reactions button:active,
	.reactions button.active {
		color: #ffffff;
	}

	.reactions .liked-by-you,
	.reactions .liked-by-you:hover,
	.reactions .liked-by-you:focus,
	.reactions .liked-by-you:active,
	.reactions .liked-by-you.active {
		color: #55b060 ;
	}

	.reactions .loved-by-you,
	.reactions .loved-by-you:hover,
	.reactions .loved-by-you:focus,
	.reactions .loved-by-you:active,
	.reactions .loved-by-you.active {
		color: #cc4444;
	}

	.reactions button .fa.copy {
		position: absolute;
		  top: 0.2em;
		  left: 0.68em;
		opacity: 0.8;
	}

.reactions button span {
	display: inline-block;
  position: relative;
		top: -0.3em;
  width: 1.1em;
  font-size: 0.7em;
}

.options-menu-container {
	position: absolute;
    top: 0;
    right: 1.5em;
  width: 3em;
  height: 3em;
  overflow: visible;
  text-align: right;
}

.options-menu {
	list-style: none;
	position: absolute;
		right: 0;
}

.options-menu-toggle {
	font-size: 1.6em;
	padding: 0;
}

.single-post .content {
	margin-top: 0.6em;
	margin-bottom: 0.8em;
	font-size: 3.2em;
	text-shadow: 2px 2px 10px rgba(50,50,50,0.1) !important;
}




/* EDIT PROFILE */
.edit-profile-nav .circle-nav-inner {
	width: 100% !important;
}

.edit-profile-nav .inner-btn {
	width: 25% !important;
}

	.edit-profile-nav .back-btn {
		border-right: 0.4em solid rgba(50,50,50,0.1);
	}

.edit-avatar {
	width: 8em;
	margin: 0 auto;
}





