$palettesMap: (
	original-blue: (
		primary: #4ea1d3,
		secondary: #c8d9df,
		content: #d8e9ef,
		accent: #e85a71,
		text: #d8e9ef,
		text-dark: #7a7c7e
	),
	troll-hollow: (
		primary: #55967e,
		secondary: #DFD6D9,
		content: #EFE6E9,
		accent: #8F2D56,
		text: #fafafa,
		text-dark: #3F4B3B
	),
	sunlit-sail: (
		primary: #004e66,
		secondary: #d1dee6,
		content: #e1eef6,
		accent: #ffad08,
		text: #e1eef6,
		text-dark: #7a7c7e
	)
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

@mixin paletteBG( $palette: sunlit-sail, $color: primary ) {
	$palette: map-get($palettesMap, $palette);
	$bgColor: map-get($palette, $color);
	background-color: $bgColor !important;
}

@mixin paletteColor( $palette: sunlit-sail, $color: primary ) {
	$palette: map-get($palettesMap, $palette);
	$color: map-get($palette, $color);
	color: $color !important;
}

@mixin borderColor( $palette: sunlit-sail, $color: primary ) {
	$palette: map-get($palettesMap, $palette);
	$color: map-get($palette, $color);
	border-color: $color !important;
}

$palettes: original-blue troll-hollow sunlit-sail;
$colors: primary secondary content accent text text-dark;

@each $palette in $palettes {
	.palette-#{$palette} {
		//@include paletteColor( $palette, text );

		.c-bg-primary {
			@include paletteColor( $palette, text );
		}

		.c-bg-secondary {
			@include paletteColor( $palette, text-dark );
		}

		@each $color in $colors {
			.c-bg-#{$color},
			.c-bg-#{$color}-hover:hover,
			.c-bg-#{$color}-hover:active,
			.c-bg-#{$color}-hover.active,
			.c-bg-#{$color}-hover:focus,
			.c-bg-#{$color}-active:active,
			.c-bg-#{$color}-active.active,
			.c-bg-#{$color}-active:focus,
			.c-bg-#{$color}-focus:focus {
				@include paletteBG( $palette, $color );
			}

			.c-#{$color},
			.c-#{$color}-hover:hover,
			.c-#{$color}-hover:active,
			.c-#{$color}-hover.active,
			.c-#{$color}-hover:focus,
			.c-#{$color}-active:active,
			.c-#{$color}-active.active,
			.c-#{$color}-active:focus,
			.c-#{$color}-focus:focus {
				@include paletteColor( $palette, $color );
			}

			.c-#{$color}::-webkit-input-placeholder,
			.c-#{$color}:-moz-input-placeholder,
			.c-#{$color}::-moz-input-placeholder,
			.c-#{$color}:-ms-input-placeholder {
				@include paletteColor( $palette, $color );
			}

			.c-border-#{$color} {
				@include borderColor( $palette, $color );
			}
		}

		.c-bg-content,
		.comment .reactions button {
			@include paletteColor( $palette, text-dark );
		}

		.c-bg-content,
		.comment .reactions button {
			@include paletteColor( $palette, text-dark );
		}

		.comment .reactions .liked-by-you,
		.comment .reactions .liked-by-you:hover,
		.comment .reactions .liked-by-you:focus,
		.comment .reactions .liked-by-you:active,
		.comment .reactions .liked-by-you.active {
			color: #55b060 !important;
		}

		.comment .reactions .loved-by-you,
		.comment .reactions .loved-by-you:hover,
		.comment .reactions .loved-by-you:focus,
		.comment .reactions .loved-by-you:active,
		.comment .reactions .loved-by-you.active {
			color: #cc4444 !important;
		}

		.reg-form {
			@include borderColor( $palette, primary );
		}

		.bottom-drawer .reg-form {
			@include paletteColor( $palette, text-dark );
		}

		.selected {
			@include paletteBG( $palette, primary );
			@include paletteColor( $palette, text );
		}

		.main-menu {
			@include borderColor( $palette, secondary );
		}
	}
}

