.default-header span {
  display: inline-block;
  animation-name: pop-letter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }

.default-header span:nth-child(1) {
  animation-delay: 0.1s; }

.default-header span:nth-child(2) {
  animation-delay: 0.1s; }

.default-header span:nth-child(3) {
  animation-delay: 0.1s; }

.default-header span:nth-child(4) {
  animation-delay: 0.1s; }

.default-header span:nth-child(5) {
  animation-delay: 0.1s; }

.default-header span:nth-child(6) {
  animation-delay: 0.1s; }

.default-header span:nth-child(7) {
  animation-delay: 0.1s; }

.default-header span:nth-child(8) {
  animation-delay: 0.1s; }

.default-header span:nth-child(9) {
  animation-delay: 0.1s; }

.default-header span:nth-child(10) {
  animation-delay: 0.1s; }

.default-header span:nth-child(11) {
  animation-delay: 0.1s; }

.palette-original-blue .c-bg-primary {
  color: #d8e9ef !important; }
.palette-original-blue .c-bg-secondary {
  color: #7a7c7e !important; }
.palette-original-blue .c-bg-primary,
.palette-original-blue .c-bg-primary-hover:hover,
.palette-original-blue .c-bg-primary-hover:active,
.palette-original-blue .c-bg-primary-hover.active,
.palette-original-blue .c-bg-primary-hover:focus,
.palette-original-blue .c-bg-primary-active:active,
.palette-original-blue .c-bg-primary-active.active,
.palette-original-blue .c-bg-primary-active:focus,
.palette-original-blue .c-bg-primary-focus:focus {
  background-color: #4ea1d3 !important; }
.palette-original-blue .c-primary,
.palette-original-blue .c-primary-hover:hover,
.palette-original-blue .c-primary-hover:active,
.palette-original-blue .c-primary-hover.active,
.palette-original-blue .c-primary-hover:focus,
.palette-original-blue .c-primary-active:active,
.palette-original-blue .c-primary-active.active,
.palette-original-blue .c-primary-active:focus,
.palette-original-blue .c-primary-focus:focus {
  color: #4ea1d3 !important; }
.palette-original-blue .c-primary::-webkit-input-placeholder,
.palette-original-blue .c-primary:-moz-input-placeholder,
.palette-original-blue .c-primary::-moz-input-placeholder,
.palette-original-blue .c-primary:-ms-input-placeholder {
  color: #4ea1d3 !important; }
.palette-original-blue .c-border-primary {
  border-color: #4ea1d3 !important; }
.palette-original-blue .c-bg-secondary,
.palette-original-blue .c-bg-secondary-hover:hover,
.palette-original-blue .c-bg-secondary-hover:active,
.palette-original-blue .c-bg-secondary-hover.active,
.palette-original-blue .c-bg-secondary-hover:focus,
.palette-original-blue .c-bg-secondary-active:active,
.palette-original-blue .c-bg-secondary-active.active,
.palette-original-blue .c-bg-secondary-active:focus,
.palette-original-blue .c-bg-secondary-focus:focus {
  background-color: #c8d9df !important; }
.palette-original-blue .c-secondary,
.palette-original-blue .c-secondary-hover:hover,
.palette-original-blue .c-secondary-hover:active,
.palette-original-blue .c-secondary-hover.active,
.palette-original-blue .c-secondary-hover:focus,
.palette-original-blue .c-secondary-active:active,
.palette-original-blue .c-secondary-active.active,
.palette-original-blue .c-secondary-active:focus,
.palette-original-blue .c-secondary-focus:focus {
  color: #c8d9df !important; }
.palette-original-blue .c-secondary::-webkit-input-placeholder,
.palette-original-blue .c-secondary:-moz-input-placeholder,
.palette-original-blue .c-secondary::-moz-input-placeholder,
.palette-original-blue .c-secondary:-ms-input-placeholder {
  color: #c8d9df !important; }
.palette-original-blue .c-border-secondary {
  border-color: #c8d9df !important; }
.palette-original-blue .c-bg-content,
.palette-original-blue .c-bg-content-hover:hover,
.palette-original-blue .c-bg-content-hover:active,
.palette-original-blue .c-bg-content-hover.active,
.palette-original-blue .c-bg-content-hover:focus,
.palette-original-blue .c-bg-content-active:active,
.palette-original-blue .c-bg-content-active.active,
.palette-original-blue .c-bg-content-active:focus,
.palette-original-blue .c-bg-content-focus:focus {
  background-color: #d8e9ef !important; }
.palette-original-blue .c-content,
.palette-original-blue .c-content-hover:hover,
.palette-original-blue .c-content-hover:active,
.palette-original-blue .c-content-hover.active,
.palette-original-blue .c-content-hover:focus,
.palette-original-blue .c-content-active:active,
.palette-original-blue .c-content-active.active,
.palette-original-blue .c-content-active:focus,
.palette-original-blue .c-content-focus:focus {
  color: #d8e9ef !important; }
.palette-original-blue .c-content::-webkit-input-placeholder,
.palette-original-blue .c-content:-moz-input-placeholder,
.palette-original-blue .c-content::-moz-input-placeholder,
.palette-original-blue .c-content:-ms-input-placeholder {
  color: #d8e9ef !important; }
.palette-original-blue .c-border-content {
  border-color: #d8e9ef !important; }
.palette-original-blue .c-bg-accent,
.palette-original-blue .c-bg-accent-hover:hover,
.palette-original-blue .c-bg-accent-hover:active,
.palette-original-blue .c-bg-accent-hover.active,
.palette-original-blue .c-bg-accent-hover:focus,
.palette-original-blue .c-bg-accent-active:active,
.palette-original-blue .c-bg-accent-active.active,
.palette-original-blue .c-bg-accent-active:focus,
.palette-original-blue .c-bg-accent-focus:focus {
  background-color: #e85a71 !important; }
.palette-original-blue .c-accent,
.palette-original-blue .c-accent-hover:hover,
.palette-original-blue .c-accent-hover:active,
.palette-original-blue .c-accent-hover.active,
.palette-original-blue .c-accent-hover:focus,
.palette-original-blue .c-accent-active:active,
.palette-original-blue .c-accent-active.active,
.palette-original-blue .c-accent-active:focus,
.palette-original-blue .c-accent-focus:focus {
  color: #e85a71 !important; }
.palette-original-blue .c-accent::-webkit-input-placeholder,
.palette-original-blue .c-accent:-moz-input-placeholder,
.palette-original-blue .c-accent::-moz-input-placeholder,
.palette-original-blue .c-accent:-ms-input-placeholder {
  color: #e85a71 !important; }
.palette-original-blue .c-border-accent {
  border-color: #e85a71 !important; }
.palette-original-blue .c-bg-text,
.palette-original-blue .c-bg-text-hover:hover,
.palette-original-blue .c-bg-text-hover:active,
.palette-original-blue .c-bg-text-hover.active,
.palette-original-blue .c-bg-text-hover:focus,
.palette-original-blue .c-bg-text-active:active,
.palette-original-blue .c-bg-text-active.active,
.palette-original-blue .c-bg-text-active:focus,
.palette-original-blue .c-bg-text-focus:focus {
  background-color: #d8e9ef !important; }
.palette-original-blue .c-text,
.palette-original-blue .c-text-hover:hover,
.palette-original-blue .c-text-hover:active,
.palette-original-blue .c-text-hover.active,
.palette-original-blue .c-text-hover:focus,
.palette-original-blue .c-text-active:active,
.palette-original-blue .c-text-active.active,
.palette-original-blue .c-text-active:focus,
.palette-original-blue .c-text-focus:focus {
  color: #d8e9ef !important; }
.palette-original-blue .c-text::-webkit-input-placeholder,
.palette-original-blue .c-text:-moz-input-placeholder,
.palette-original-blue .c-text::-moz-input-placeholder,
.palette-original-blue .c-text:-ms-input-placeholder {
  color: #d8e9ef !important; }
.palette-original-blue .c-border-text {
  border-color: #d8e9ef !important; }
.palette-original-blue .c-bg-text-dark,
.palette-original-blue .c-bg-text-dark-hover:hover,
.palette-original-blue .c-bg-text-dark-hover:active,
.palette-original-blue .c-bg-text-dark-hover.active,
.palette-original-blue .c-bg-text-dark-hover:focus,
.palette-original-blue .c-bg-text-dark-active:active,
.palette-original-blue .c-bg-text-dark-active.active,
.palette-original-blue .c-bg-text-dark-active:focus,
.palette-original-blue .c-bg-text-dark-focus:focus {
  background-color: #7a7c7e !important; }
.palette-original-blue .c-text-dark,
.palette-original-blue .c-text-dark-hover:hover,
.palette-original-blue .c-text-dark-hover:active,
.palette-original-blue .c-text-dark-hover.active,
.palette-original-blue .c-text-dark-hover:focus,
.palette-original-blue .c-text-dark-active:active,
.palette-original-blue .c-text-dark-active.active,
.palette-original-blue .c-text-dark-active:focus,
.palette-original-blue .c-text-dark-focus:focus {
  color: #7a7c7e !important; }
.palette-original-blue .c-text-dark::-webkit-input-placeholder,
.palette-original-blue .c-text-dark:-moz-input-placeholder,
.palette-original-blue .c-text-dark::-moz-input-placeholder,
.palette-original-blue .c-text-dark:-ms-input-placeholder {
  color: #7a7c7e !important; }
.palette-original-blue .c-border-text-dark {
  border-color: #7a7c7e !important; }
.palette-original-blue .c-bg-content,
.palette-original-blue .comment .reactions button {
  color: #7a7c7e !important; }
.palette-original-blue .c-bg-content,
.palette-original-blue .comment .reactions button {
  color: #7a7c7e !important; }
.palette-original-blue .comment .reactions .liked-by-you,
.palette-original-blue .comment .reactions .liked-by-you:hover,
.palette-original-blue .comment .reactions .liked-by-you:focus,
.palette-original-blue .comment .reactions .liked-by-you:active,
.palette-original-blue .comment .reactions .liked-by-you.active {
  color: #55b060 !important; }
.palette-original-blue .comment .reactions .loved-by-you,
.palette-original-blue .comment .reactions .loved-by-you:hover,
.palette-original-blue .comment .reactions .loved-by-you:focus,
.palette-original-blue .comment .reactions .loved-by-you:active,
.palette-original-blue .comment .reactions .loved-by-you.active {
  color: #cc4444 !important; }
.palette-original-blue .reg-form {
  border-color: #4ea1d3 !important; }
.palette-original-blue .bottom-drawer .reg-form {
  color: #7a7c7e !important; }
.palette-original-blue .selected {
  background-color: #4ea1d3 !important;
  color: #d8e9ef !important; }
.palette-original-blue .main-menu {
  border-color: #c8d9df !important; }

@-webkit-keyframes pop-letter {
  0% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  43% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  50% {
    color: #4ea1d3 !important;
    /*-webkit-transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  100% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ } }
@keyframes pop-letter {
  0% {
    color: inherit;
    /*transform: scale(1);*/ }
  43% {
    color: inherit;
    /*transform: scale(1);*/ }
  50% {
    color: #4ea1d3 !important;
    /*transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*transform: scale(1);*/ }
  100% {
    color: inherit;
    /*transform: scale(1);*/ } }
.palette-troll-hollow .c-bg-primary {
  color: #fafafa !important; }
.palette-troll-hollow .c-bg-secondary {
  color: #3F4B3B !important; }
.palette-troll-hollow .c-bg-primary,
.palette-troll-hollow .c-bg-primary-hover:hover,
.palette-troll-hollow .c-bg-primary-hover:active,
.palette-troll-hollow .c-bg-primary-hover.active,
.palette-troll-hollow .c-bg-primary-hover:focus,
.palette-troll-hollow .c-bg-primary-active:active,
.palette-troll-hollow .c-bg-primary-active.active,
.palette-troll-hollow .c-bg-primary-active:focus,
.palette-troll-hollow .c-bg-primary-focus:focus {
  background-color: #55967e !important; }
.palette-troll-hollow .c-primary,
.palette-troll-hollow .c-primary-hover:hover,
.palette-troll-hollow .c-primary-hover:active,
.palette-troll-hollow .c-primary-hover.active,
.palette-troll-hollow .c-primary-hover:focus,
.palette-troll-hollow .c-primary-active:active,
.palette-troll-hollow .c-primary-active.active,
.palette-troll-hollow .c-primary-active:focus,
.palette-troll-hollow .c-primary-focus:focus {
  color: #55967e !important; }
.palette-troll-hollow .c-primary::-webkit-input-placeholder,
.palette-troll-hollow .c-primary:-moz-input-placeholder,
.palette-troll-hollow .c-primary::-moz-input-placeholder,
.palette-troll-hollow .c-primary:-ms-input-placeholder {
  color: #55967e !important; }
.palette-troll-hollow .c-border-primary {
  border-color: #55967e !important; }
.palette-troll-hollow .c-bg-secondary,
.palette-troll-hollow .c-bg-secondary-hover:hover,
.palette-troll-hollow .c-bg-secondary-hover:active,
.palette-troll-hollow .c-bg-secondary-hover.active,
.palette-troll-hollow .c-bg-secondary-hover:focus,
.palette-troll-hollow .c-bg-secondary-active:active,
.palette-troll-hollow .c-bg-secondary-active.active,
.palette-troll-hollow .c-bg-secondary-active:focus,
.palette-troll-hollow .c-bg-secondary-focus:focus {
  background-color: #DFD6D9 !important; }
.palette-troll-hollow .c-secondary,
.palette-troll-hollow .c-secondary-hover:hover,
.palette-troll-hollow .c-secondary-hover:active,
.palette-troll-hollow .c-secondary-hover.active,
.palette-troll-hollow .c-secondary-hover:focus,
.palette-troll-hollow .c-secondary-active:active,
.palette-troll-hollow .c-secondary-active.active,
.palette-troll-hollow .c-secondary-active:focus,
.palette-troll-hollow .c-secondary-focus:focus {
  color: #DFD6D9 !important; }
.palette-troll-hollow .c-secondary::-webkit-input-placeholder,
.palette-troll-hollow .c-secondary:-moz-input-placeholder,
.palette-troll-hollow .c-secondary::-moz-input-placeholder,
.palette-troll-hollow .c-secondary:-ms-input-placeholder {
  color: #DFD6D9 !important; }
.palette-troll-hollow .c-border-secondary {
  border-color: #DFD6D9 !important; }
.palette-troll-hollow .c-bg-content,
.palette-troll-hollow .c-bg-content-hover:hover,
.palette-troll-hollow .c-bg-content-hover:active,
.palette-troll-hollow .c-bg-content-hover.active,
.palette-troll-hollow .c-bg-content-hover:focus,
.palette-troll-hollow .c-bg-content-active:active,
.palette-troll-hollow .c-bg-content-active.active,
.palette-troll-hollow .c-bg-content-active:focus,
.palette-troll-hollow .c-bg-content-focus:focus {
  background-color: #EFE6E9 !important; }
.palette-troll-hollow .c-content,
.palette-troll-hollow .c-content-hover:hover,
.palette-troll-hollow .c-content-hover:active,
.palette-troll-hollow .c-content-hover.active,
.palette-troll-hollow .c-content-hover:focus,
.palette-troll-hollow .c-content-active:active,
.palette-troll-hollow .c-content-active.active,
.palette-troll-hollow .c-content-active:focus,
.palette-troll-hollow .c-content-focus:focus {
  color: #EFE6E9 !important; }
.palette-troll-hollow .c-content::-webkit-input-placeholder,
.palette-troll-hollow .c-content:-moz-input-placeholder,
.palette-troll-hollow .c-content::-moz-input-placeholder,
.palette-troll-hollow .c-content:-ms-input-placeholder {
  color: #EFE6E9 !important; }
.palette-troll-hollow .c-border-content {
  border-color: #EFE6E9 !important; }
.palette-troll-hollow .c-bg-accent,
.palette-troll-hollow .c-bg-accent-hover:hover,
.palette-troll-hollow .c-bg-accent-hover:active,
.palette-troll-hollow .c-bg-accent-hover.active,
.palette-troll-hollow .c-bg-accent-hover:focus,
.palette-troll-hollow .c-bg-accent-active:active,
.palette-troll-hollow .c-bg-accent-active.active,
.palette-troll-hollow .c-bg-accent-active:focus,
.palette-troll-hollow .c-bg-accent-focus:focus {
  background-color: #8F2D56 !important; }
.palette-troll-hollow .c-accent,
.palette-troll-hollow .c-accent-hover:hover,
.palette-troll-hollow .c-accent-hover:active,
.palette-troll-hollow .c-accent-hover.active,
.palette-troll-hollow .c-accent-hover:focus,
.palette-troll-hollow .c-accent-active:active,
.palette-troll-hollow .c-accent-active.active,
.palette-troll-hollow .c-accent-active:focus,
.palette-troll-hollow .c-accent-focus:focus {
  color: #8F2D56 !important; }
.palette-troll-hollow .c-accent::-webkit-input-placeholder,
.palette-troll-hollow .c-accent:-moz-input-placeholder,
.palette-troll-hollow .c-accent::-moz-input-placeholder,
.palette-troll-hollow .c-accent:-ms-input-placeholder {
  color: #8F2D56 !important; }
.palette-troll-hollow .c-border-accent {
  border-color: #8F2D56 !important; }
.palette-troll-hollow .c-bg-text,
.palette-troll-hollow .c-bg-text-hover:hover,
.palette-troll-hollow .c-bg-text-hover:active,
.palette-troll-hollow .c-bg-text-hover.active,
.palette-troll-hollow .c-bg-text-hover:focus,
.palette-troll-hollow .c-bg-text-active:active,
.palette-troll-hollow .c-bg-text-active.active,
.palette-troll-hollow .c-bg-text-active:focus,
.palette-troll-hollow .c-bg-text-focus:focus {
  background-color: #fafafa !important; }
.palette-troll-hollow .c-text,
.palette-troll-hollow .c-text-hover:hover,
.palette-troll-hollow .c-text-hover:active,
.palette-troll-hollow .c-text-hover.active,
.palette-troll-hollow .c-text-hover:focus,
.palette-troll-hollow .c-text-active:active,
.palette-troll-hollow .c-text-active.active,
.palette-troll-hollow .c-text-active:focus,
.palette-troll-hollow .c-text-focus:focus {
  color: #fafafa !important; }
.palette-troll-hollow .c-text::-webkit-input-placeholder,
.palette-troll-hollow .c-text:-moz-input-placeholder,
.palette-troll-hollow .c-text::-moz-input-placeholder,
.palette-troll-hollow .c-text:-ms-input-placeholder {
  color: #fafafa !important; }
.palette-troll-hollow .c-border-text {
  border-color: #fafafa !important; }
.palette-troll-hollow .c-bg-text-dark,
.palette-troll-hollow .c-bg-text-dark-hover:hover,
.palette-troll-hollow .c-bg-text-dark-hover:active,
.palette-troll-hollow .c-bg-text-dark-hover.active,
.palette-troll-hollow .c-bg-text-dark-hover:focus,
.palette-troll-hollow .c-bg-text-dark-active:active,
.palette-troll-hollow .c-bg-text-dark-active.active,
.palette-troll-hollow .c-bg-text-dark-active:focus,
.palette-troll-hollow .c-bg-text-dark-focus:focus {
  background-color: #3F4B3B !important; }
.palette-troll-hollow .c-text-dark,
.palette-troll-hollow .c-text-dark-hover:hover,
.palette-troll-hollow .c-text-dark-hover:active,
.palette-troll-hollow .c-text-dark-hover.active,
.palette-troll-hollow .c-text-dark-hover:focus,
.palette-troll-hollow .c-text-dark-active:active,
.palette-troll-hollow .c-text-dark-active.active,
.palette-troll-hollow .c-text-dark-active:focus,
.palette-troll-hollow .c-text-dark-focus:focus {
  color: #3F4B3B !important; }
.palette-troll-hollow .c-text-dark::-webkit-input-placeholder,
.palette-troll-hollow .c-text-dark:-moz-input-placeholder,
.palette-troll-hollow .c-text-dark::-moz-input-placeholder,
.palette-troll-hollow .c-text-dark:-ms-input-placeholder {
  color: #3F4B3B !important; }
.palette-troll-hollow .c-border-text-dark {
  border-color: #3F4B3B !important; }
.palette-troll-hollow .c-bg-content,
.palette-troll-hollow .comment .reactions button {
  color: #3F4B3B !important; }
.palette-troll-hollow .c-bg-content,
.palette-troll-hollow .comment .reactions button {
  color: #3F4B3B !important; }
.palette-troll-hollow .comment .reactions .liked-by-you,
.palette-troll-hollow .comment .reactions .liked-by-you:hover,
.palette-troll-hollow .comment .reactions .liked-by-you:focus,
.palette-troll-hollow .comment .reactions .liked-by-you:active,
.palette-troll-hollow .comment .reactions .liked-by-you.active {
  color: #55b060 !important; }
.palette-troll-hollow .comment .reactions .loved-by-you,
.palette-troll-hollow .comment .reactions .loved-by-you:hover,
.palette-troll-hollow .comment .reactions .loved-by-you:focus,
.palette-troll-hollow .comment .reactions .loved-by-you:active,
.palette-troll-hollow .comment .reactions .loved-by-you.active {
  color: #cc4444 !important; }
.palette-troll-hollow .reg-form {
  border-color: #55967e !important; }
.palette-troll-hollow .bottom-drawer .reg-form {
  color: #3F4B3B !important; }
.palette-troll-hollow .selected {
  background-color: #55967e !important;
  color: #fafafa !important; }
.palette-troll-hollow .main-menu {
  border-color: #DFD6D9 !important; }

@-webkit-keyframes pop-letter {
  0% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  43% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  50% {
    color: #55967e !important;
    /*-webkit-transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  100% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ } }
@keyframes pop-letter {
  0% {
    color: inherit;
    /*transform: scale(1);*/ }
  43% {
    color: inherit;
    /*transform: scale(1);*/ }
  50% {
    color: #55967e !important;
    /*transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*transform: scale(1);*/ }
  100% {
    color: inherit;
    /*transform: scale(1);*/ } }
.palette-sunlit-sail .c-bg-primary {
  color: #e1eef6 !important; }
.palette-sunlit-sail .c-bg-secondary {
  color: #7a7c7e !important; }
.palette-sunlit-sail .c-bg-primary,
.palette-sunlit-sail .c-bg-primary-hover:hover,
.palette-sunlit-sail .c-bg-primary-hover:active,
.palette-sunlit-sail .c-bg-primary-hover.active,
.palette-sunlit-sail .c-bg-primary-hover:focus,
.palette-sunlit-sail .c-bg-primary-active:active,
.palette-sunlit-sail .c-bg-primary-active.active,
.palette-sunlit-sail .c-bg-primary-active:focus,
.palette-sunlit-sail .c-bg-primary-focus:focus {
  background-color: #004e66 !important; }
.palette-sunlit-sail .c-primary,
.palette-sunlit-sail .c-primary-hover:hover,
.palette-sunlit-sail .c-primary-hover:active,
.palette-sunlit-sail .c-primary-hover.active,
.palette-sunlit-sail .c-primary-hover:focus,
.palette-sunlit-sail .c-primary-active:active,
.palette-sunlit-sail .c-primary-active.active,
.palette-sunlit-sail .c-primary-active:focus,
.palette-sunlit-sail .c-primary-focus:focus {
  color: #004e66 !important; }
.palette-sunlit-sail .c-primary::-webkit-input-placeholder,
.palette-sunlit-sail .c-primary:-moz-input-placeholder,
.palette-sunlit-sail .c-primary::-moz-input-placeholder,
.palette-sunlit-sail .c-primary:-ms-input-placeholder {
  color: #004e66 !important; }
.palette-sunlit-sail .c-border-primary {
  border-color: #004e66 !important; }
.palette-sunlit-sail .c-bg-secondary,
.palette-sunlit-sail .c-bg-secondary-hover:hover,
.palette-sunlit-sail .c-bg-secondary-hover:active,
.palette-sunlit-sail .c-bg-secondary-hover.active,
.palette-sunlit-sail .c-bg-secondary-hover:focus,
.palette-sunlit-sail .c-bg-secondary-active:active,
.palette-sunlit-sail .c-bg-secondary-active.active,
.palette-sunlit-sail .c-bg-secondary-active:focus,
.palette-sunlit-sail .c-bg-secondary-focus:focus {
  background-color: #d1dee6 !important; }
.palette-sunlit-sail .c-secondary,
.palette-sunlit-sail .c-secondary-hover:hover,
.palette-sunlit-sail .c-secondary-hover:active,
.palette-sunlit-sail .c-secondary-hover.active,
.palette-sunlit-sail .c-secondary-hover:focus,
.palette-sunlit-sail .c-secondary-active:active,
.palette-sunlit-sail .c-secondary-active.active,
.palette-sunlit-sail .c-secondary-active:focus,
.palette-sunlit-sail .c-secondary-focus:focus {
  color: #d1dee6 !important; }
.palette-sunlit-sail .c-secondary::-webkit-input-placeholder,
.palette-sunlit-sail .c-secondary:-moz-input-placeholder,
.palette-sunlit-sail .c-secondary::-moz-input-placeholder,
.palette-sunlit-sail .c-secondary:-ms-input-placeholder {
  color: #d1dee6 !important; }
.palette-sunlit-sail .c-border-secondary {
  border-color: #d1dee6 !important; }
.palette-sunlit-sail .c-bg-content,
.palette-sunlit-sail .c-bg-content-hover:hover,
.palette-sunlit-sail .c-bg-content-hover:active,
.palette-sunlit-sail .c-bg-content-hover.active,
.palette-sunlit-sail .c-bg-content-hover:focus,
.palette-sunlit-sail .c-bg-content-active:active,
.palette-sunlit-sail .c-bg-content-active.active,
.palette-sunlit-sail .c-bg-content-active:focus,
.palette-sunlit-sail .c-bg-content-focus:focus {
  background-color: #e1eef6 !important; }
.palette-sunlit-sail .c-content,
.palette-sunlit-sail .c-content-hover:hover,
.palette-sunlit-sail .c-content-hover:active,
.palette-sunlit-sail .c-content-hover.active,
.palette-sunlit-sail .c-content-hover:focus,
.palette-sunlit-sail .c-content-active:active,
.palette-sunlit-sail .c-content-active.active,
.palette-sunlit-sail .c-content-active:focus,
.palette-sunlit-sail .c-content-focus:focus {
  color: #e1eef6 !important; }
.palette-sunlit-sail .c-content::-webkit-input-placeholder,
.palette-sunlit-sail .c-content:-moz-input-placeholder,
.palette-sunlit-sail .c-content::-moz-input-placeholder,
.palette-sunlit-sail .c-content:-ms-input-placeholder {
  color: #e1eef6 !important; }
.palette-sunlit-sail .c-border-content {
  border-color: #e1eef6 !important; }
.palette-sunlit-sail .c-bg-accent,
.palette-sunlit-sail .c-bg-accent-hover:hover,
.palette-sunlit-sail .c-bg-accent-hover:active,
.palette-sunlit-sail .c-bg-accent-hover.active,
.palette-sunlit-sail .c-bg-accent-hover:focus,
.palette-sunlit-sail .c-bg-accent-active:active,
.palette-sunlit-sail .c-bg-accent-active.active,
.palette-sunlit-sail .c-bg-accent-active:focus,
.palette-sunlit-sail .c-bg-accent-focus:focus {
  background-color: #ffad08 !important; }
.palette-sunlit-sail .c-accent,
.palette-sunlit-sail .c-accent-hover:hover,
.palette-sunlit-sail .c-accent-hover:active,
.palette-sunlit-sail .c-accent-hover.active,
.palette-sunlit-sail .c-accent-hover:focus,
.palette-sunlit-sail .c-accent-active:active,
.palette-sunlit-sail .c-accent-active.active,
.palette-sunlit-sail .c-accent-active:focus,
.palette-sunlit-sail .c-accent-focus:focus {
  color: #ffad08 !important; }
.palette-sunlit-sail .c-accent::-webkit-input-placeholder,
.palette-sunlit-sail .c-accent:-moz-input-placeholder,
.palette-sunlit-sail .c-accent::-moz-input-placeholder,
.palette-sunlit-sail .c-accent:-ms-input-placeholder {
  color: #ffad08 !important; }
.palette-sunlit-sail .c-border-accent {
  border-color: #ffad08 !important; }
.palette-sunlit-sail .c-bg-text,
.palette-sunlit-sail .c-bg-text-hover:hover,
.palette-sunlit-sail .c-bg-text-hover:active,
.palette-sunlit-sail .c-bg-text-hover.active,
.palette-sunlit-sail .c-bg-text-hover:focus,
.palette-sunlit-sail .c-bg-text-active:active,
.palette-sunlit-sail .c-bg-text-active.active,
.palette-sunlit-sail .c-bg-text-active:focus,
.palette-sunlit-sail .c-bg-text-focus:focus {
  background-color: #e1eef6 !important; }
.palette-sunlit-sail .c-text,
.palette-sunlit-sail .c-text-hover:hover,
.palette-sunlit-sail .c-text-hover:active,
.palette-sunlit-sail .c-text-hover.active,
.palette-sunlit-sail .c-text-hover:focus,
.palette-sunlit-sail .c-text-active:active,
.palette-sunlit-sail .c-text-active.active,
.palette-sunlit-sail .c-text-active:focus,
.palette-sunlit-sail .c-text-focus:focus {
  color: #e1eef6 !important; }
.palette-sunlit-sail .c-text::-webkit-input-placeholder,
.palette-sunlit-sail .c-text:-moz-input-placeholder,
.palette-sunlit-sail .c-text::-moz-input-placeholder,
.palette-sunlit-sail .c-text:-ms-input-placeholder {
  color: #e1eef6 !important; }
.palette-sunlit-sail .c-border-text {
  border-color: #e1eef6 !important; }
.palette-sunlit-sail .c-bg-text-dark,
.palette-sunlit-sail .c-bg-text-dark-hover:hover,
.palette-sunlit-sail .c-bg-text-dark-hover:active,
.palette-sunlit-sail .c-bg-text-dark-hover.active,
.palette-sunlit-sail .c-bg-text-dark-hover:focus,
.palette-sunlit-sail .c-bg-text-dark-active:active,
.palette-sunlit-sail .c-bg-text-dark-active.active,
.palette-sunlit-sail .c-bg-text-dark-active:focus,
.palette-sunlit-sail .c-bg-text-dark-focus:focus {
  background-color: #7a7c7e !important; }
.palette-sunlit-sail .c-text-dark,
.palette-sunlit-sail .c-text-dark-hover:hover,
.palette-sunlit-sail .c-text-dark-hover:active,
.palette-sunlit-sail .c-text-dark-hover.active,
.palette-sunlit-sail .c-text-dark-hover:focus,
.palette-sunlit-sail .c-text-dark-active:active,
.palette-sunlit-sail .c-text-dark-active.active,
.palette-sunlit-sail .c-text-dark-active:focus,
.palette-sunlit-sail .c-text-dark-focus:focus {
  color: #7a7c7e !important; }
.palette-sunlit-sail .c-text-dark::-webkit-input-placeholder,
.palette-sunlit-sail .c-text-dark:-moz-input-placeholder,
.palette-sunlit-sail .c-text-dark::-moz-input-placeholder,
.palette-sunlit-sail .c-text-dark:-ms-input-placeholder {
  color: #7a7c7e !important; }
.palette-sunlit-sail .c-border-text-dark {
  border-color: #7a7c7e !important; }
.palette-sunlit-sail .c-bg-content,
.palette-sunlit-sail .comment .reactions button {
  color: #7a7c7e !important; }
.palette-sunlit-sail .c-bg-content,
.palette-sunlit-sail .comment .reactions button {
  color: #7a7c7e !important; }
.palette-sunlit-sail .comment .reactions .liked-by-you,
.palette-sunlit-sail .comment .reactions .liked-by-you:hover,
.palette-sunlit-sail .comment .reactions .liked-by-you:focus,
.palette-sunlit-sail .comment .reactions .liked-by-you:active,
.palette-sunlit-sail .comment .reactions .liked-by-you.active {
  color: #55b060 !important; }
.palette-sunlit-sail .comment .reactions .loved-by-you,
.palette-sunlit-sail .comment .reactions .loved-by-you:hover,
.palette-sunlit-sail .comment .reactions .loved-by-you:focus,
.palette-sunlit-sail .comment .reactions .loved-by-you:active,
.palette-sunlit-sail .comment .reactions .loved-by-you.active {
  color: #cc4444 !important; }
.palette-sunlit-sail .reg-form {
  border-color: #004e66 !important; }
.palette-sunlit-sail .bottom-drawer .reg-form {
  color: #7a7c7e !important; }
.palette-sunlit-sail .selected {
  background-color: #004e66 !important;
  color: #e1eef6 !important; }
.palette-sunlit-sail .main-menu {
  border-color: #d1dee6 !important; }

@-webkit-keyframes pop-letter {
  0% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  43% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  50% {
    color: #004e66 !important;
    /*-webkit-transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  100% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ } }
@keyframes pop-letter {
  0% {
    color: inherit;
    /*transform: scale(1);*/ }
  43% {
    color: inherit;
    /*transform: scale(1);*/ }
  50% {
    color: #004e66 !important;
    /*transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*transform: scale(1);*/ }
  100% {
    color: inherit;
    /*transform: scale(1);*/ } }
.palette-wild-flowers .c-bg-primary {
  color: #f5f5f0 !important; }
.palette-wild-flowers .c-bg-secondary {
  color: #566270 !important; }
.palette-wild-flowers .c-bg-primary,
.palette-wild-flowers .c-bg-primary-hover:hover,
.palette-wild-flowers .c-bg-primary-hover:active,
.palette-wild-flowers .c-bg-primary-hover.active,
.palette-wild-flowers .c-bg-primary-hover:focus,
.palette-wild-flowers .c-bg-primary-active:active,
.palette-wild-flowers .c-bg-primary-active.active,
.palette-wild-flowers .c-bg-primary-active:focus,
.palette-wild-flowers .c-bg-primary-focus:focus {
  background-color: #A593E0 !important; }
.palette-wild-flowers .c-primary,
.palette-wild-flowers .c-primary-hover:hover,
.palette-wild-flowers .c-primary-hover:active,
.palette-wild-flowers .c-primary-hover.active,
.palette-wild-flowers .c-primary-hover:focus,
.palette-wild-flowers .c-primary-active:active,
.palette-wild-flowers .c-primary-active.active,
.palette-wild-flowers .c-primary-active:focus,
.palette-wild-flowers .c-primary-focus:focus {
  color: #A593E0 !important; }
.palette-wild-flowers .c-primary::-webkit-input-placeholder,
.palette-wild-flowers .c-primary:-moz-input-placeholder,
.palette-wild-flowers .c-primary::-moz-input-placeholder,
.palette-wild-flowers .c-primary:-ms-input-placeholder {
  color: #A593E0 !important; }
.palette-wild-flowers .c-border-primary {
  border-color: #A593E0 !important; }
.palette-wild-flowers .c-bg-secondary,
.palette-wild-flowers .c-bg-secondary-hover:hover,
.palette-wild-flowers .c-bg-secondary-hover:active,
.palette-wild-flowers .c-bg-secondary-hover.active,
.palette-wild-flowers .c-bg-secondary-hover:focus,
.palette-wild-flowers .c-bg-secondary-active:active,
.palette-wild-flowers .c-bg-secondary-active.active,
.palette-wild-flowers .c-bg-secondary-active:focus,
.palette-wild-flowers .c-bg-secondary-focus:focus {
  background-color: #E0E3DA !important; }
.palette-wild-flowers .c-secondary,
.palette-wild-flowers .c-secondary-hover:hover,
.palette-wild-flowers .c-secondary-hover:active,
.palette-wild-flowers .c-secondary-hover.active,
.palette-wild-flowers .c-secondary-hover:focus,
.palette-wild-flowers .c-secondary-active:active,
.palette-wild-flowers .c-secondary-active.active,
.palette-wild-flowers .c-secondary-active:focus,
.palette-wild-flowers .c-secondary-focus:focus {
  color: #E0E3DA !important; }
.palette-wild-flowers .c-secondary::-webkit-input-placeholder,
.palette-wild-flowers .c-secondary:-moz-input-placeholder,
.palette-wild-flowers .c-secondary::-moz-input-placeholder,
.palette-wild-flowers .c-secondary:-ms-input-placeholder {
  color: #E0E3DA !important; }
.palette-wild-flowers .c-border-secondary {
  border-color: #E0E3DA !important; }
.palette-wild-flowers .c-bg-content,
.palette-wild-flowers .c-bg-content-hover:hover,
.palette-wild-flowers .c-bg-content-hover:active,
.palette-wild-flowers .c-bg-content-hover.active,
.palette-wild-flowers .c-bg-content-hover:focus,
.palette-wild-flowers .c-bg-content-active:active,
.palette-wild-flowers .c-bg-content-active.active,
.palette-wild-flowers .c-bg-content-active:focus,
.palette-wild-flowers .c-bg-content-focus:focus {
  background-color: #f5f5f0 !important; }
.palette-wild-flowers .c-content,
.palette-wild-flowers .c-content-hover:hover,
.palette-wild-flowers .c-content-hover:active,
.palette-wild-flowers .c-content-hover.active,
.palette-wild-flowers .c-content-hover:focus,
.palette-wild-flowers .c-content-active:active,
.palette-wild-flowers .c-content-active.active,
.palette-wild-flowers .c-content-active:focus,
.palette-wild-flowers .c-content-focus:focus {
  color: #f5f5f0 !important; }
.palette-wild-flowers .c-content::-webkit-input-placeholder,
.palette-wild-flowers .c-content:-moz-input-placeholder,
.palette-wild-flowers .c-content::-moz-input-placeholder,
.palette-wild-flowers .c-content:-ms-input-placeholder {
  color: #f5f5f0 !important; }
.palette-wild-flowers .c-border-content {
  border-color: #f5f5f0 !important; }
.palette-wild-flowers .c-bg-accent,
.palette-wild-flowers .c-bg-accent-hover:hover,
.palette-wild-flowers .c-bg-accent-hover:active,
.palette-wild-flowers .c-bg-accent-hover.active,
.palette-wild-flowers .c-bg-accent-hover:focus,
.palette-wild-flowers .c-bg-accent-active:active,
.palette-wild-flowers .c-bg-accent-active.active,
.palette-wild-flowers .c-bg-accent-active:focus,
.palette-wild-flowers .c-bg-accent-focus:focus {
  background-color: #d65270 !important; }
.palette-wild-flowers .c-accent,
.palette-wild-flowers .c-accent-hover:hover,
.palette-wild-flowers .c-accent-hover:active,
.palette-wild-flowers .c-accent-hover.active,
.palette-wild-flowers .c-accent-hover:focus,
.palette-wild-flowers .c-accent-active:active,
.palette-wild-flowers .c-accent-active.active,
.palette-wild-flowers .c-accent-active:focus,
.palette-wild-flowers .c-accent-focus:focus {
  color: #d65270 !important; }
.palette-wild-flowers .c-accent::-webkit-input-placeholder,
.palette-wild-flowers .c-accent:-moz-input-placeholder,
.palette-wild-flowers .c-accent::-moz-input-placeholder,
.palette-wild-flowers .c-accent:-ms-input-placeholder {
  color: #d65270 !important; }
.palette-wild-flowers .c-border-accent {
  border-color: #d65270 !important; }
.palette-wild-flowers .c-bg-text,
.palette-wild-flowers .c-bg-text-hover:hover,
.palette-wild-flowers .c-bg-text-hover:active,
.palette-wild-flowers .c-bg-text-hover.active,
.palette-wild-flowers .c-bg-text-hover:focus,
.palette-wild-flowers .c-bg-text-active:active,
.palette-wild-flowers .c-bg-text-active.active,
.palette-wild-flowers .c-bg-text-active:focus,
.palette-wild-flowers .c-bg-text-focus:focus {
  background-color: #f5f5f0 !important; }
.palette-wild-flowers .c-text,
.palette-wild-flowers .c-text-hover:hover,
.palette-wild-flowers .c-text-hover:active,
.palette-wild-flowers .c-text-hover.active,
.palette-wild-flowers .c-text-hover:focus,
.palette-wild-flowers .c-text-active:active,
.palette-wild-flowers .c-text-active.active,
.palette-wild-flowers .c-text-active:focus,
.palette-wild-flowers .c-text-focus:focus {
  color: #f5f5f0 !important; }
.palette-wild-flowers .c-text::-webkit-input-placeholder,
.palette-wild-flowers .c-text:-moz-input-placeholder,
.palette-wild-flowers .c-text::-moz-input-placeholder,
.palette-wild-flowers .c-text:-ms-input-placeholder {
  color: #f5f5f0 !important; }
.palette-wild-flowers .c-border-text {
  border-color: #f5f5f0 !important; }
.palette-wild-flowers .c-bg-text-dark,
.palette-wild-flowers .c-bg-text-dark-hover:hover,
.palette-wild-flowers .c-bg-text-dark-hover:active,
.palette-wild-flowers .c-bg-text-dark-hover.active,
.palette-wild-flowers .c-bg-text-dark-hover:focus,
.palette-wild-flowers .c-bg-text-dark-active:active,
.palette-wild-flowers .c-bg-text-dark-active.active,
.palette-wild-flowers .c-bg-text-dark-active:focus,
.palette-wild-flowers .c-bg-text-dark-focus:focus {
  background-color: #566270 !important; }
.palette-wild-flowers .c-text-dark,
.palette-wild-flowers .c-text-dark-hover:hover,
.palette-wild-flowers .c-text-dark-hover:active,
.palette-wild-flowers .c-text-dark-hover.active,
.palette-wild-flowers .c-text-dark-hover:focus,
.palette-wild-flowers .c-text-dark-active:active,
.palette-wild-flowers .c-text-dark-active.active,
.palette-wild-flowers .c-text-dark-active:focus,
.palette-wild-flowers .c-text-dark-focus:focus {
  color: #566270 !important; }
.palette-wild-flowers .c-text-dark::-webkit-input-placeholder,
.palette-wild-flowers .c-text-dark:-moz-input-placeholder,
.palette-wild-flowers .c-text-dark::-moz-input-placeholder,
.palette-wild-flowers .c-text-dark:-ms-input-placeholder {
  color: #566270 !important; }
.palette-wild-flowers .c-border-text-dark {
  border-color: #566270 !important; }
.palette-wild-flowers .c-bg-content,
.palette-wild-flowers .comment .reactions button {
  color: #566270 !important; }
.palette-wild-flowers .c-bg-content,
.palette-wild-flowers .comment .reactions button {
  color: #566270 !important; }
.palette-wild-flowers .comment .reactions .liked-by-you,
.palette-wild-flowers .comment .reactions .liked-by-you:hover,
.palette-wild-flowers .comment .reactions .liked-by-you:focus,
.palette-wild-flowers .comment .reactions .liked-by-you:active,
.palette-wild-flowers .comment .reactions .liked-by-you.active {
  color: #55b060 !important; }
.palette-wild-flowers .comment .reactions .loved-by-you,
.palette-wild-flowers .comment .reactions .loved-by-you:hover,
.palette-wild-flowers .comment .reactions .loved-by-you:focus,
.palette-wild-flowers .comment .reactions .loved-by-you:active,
.palette-wild-flowers .comment .reactions .loved-by-you.active {
  color: #cc4444 !important; }
.palette-wild-flowers .reg-form {
  border-color: #A593E0 !important; }
.palette-wild-flowers .bottom-drawer .reg-form {
  color: #566270 !important; }
.palette-wild-flowers .selected {
  background-color: #A593E0 !important;
  color: #f5f5f0 !important; }
.palette-wild-flowers .main-menu {
  border-color: #E0E3DA !important; }

@-webkit-keyframes pop-letter {
  0% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  43% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  50% {
    color: #A593E0 !important;
    /*-webkit-transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  100% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ } }
@keyframes pop-letter {
  0% {
    color: inherit;
    /*transform: scale(1);*/ }
  43% {
    color: inherit;
    /*transform: scale(1);*/ }
  50% {
    color: #A593E0 !important;
    /*transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*transform: scale(1);*/ }
  100% {
    color: inherit;
    /*transform: scale(1);*/ } }
.palette-fifties-kitchen .c-bg-primary {
  color: #FCFCF9 !important; }
.palette-fifties-kitchen .c-bg-secondary {
  color: #171612 !important; }
.palette-fifties-kitchen .c-bg-primary,
.palette-fifties-kitchen .c-bg-primary-hover:hover,
.palette-fifties-kitchen .c-bg-primary-hover:active,
.palette-fifties-kitchen .c-bg-primary-hover.active,
.palette-fifties-kitchen .c-bg-primary-hover:focus,
.palette-fifties-kitchen .c-bg-primary-active:active,
.palette-fifties-kitchen .c-bg-primary-active.active,
.palette-fifties-kitchen .c-bg-primary-active:focus,
.palette-fifties-kitchen .c-bg-primary-focus:focus {
  background-color: #9BD9E0 !important; }
.palette-fifties-kitchen .c-primary,
.palette-fifties-kitchen .c-primary-hover:hover,
.palette-fifties-kitchen .c-primary-hover:active,
.palette-fifties-kitchen .c-primary-hover.active,
.palette-fifties-kitchen .c-primary-hover:focus,
.palette-fifties-kitchen .c-primary-active:active,
.palette-fifties-kitchen .c-primary-active.active,
.palette-fifties-kitchen .c-primary-active:focus,
.palette-fifties-kitchen .c-primary-focus:focus {
  color: #9BD9E0 !important; }
.palette-fifties-kitchen .c-primary::-webkit-input-placeholder,
.palette-fifties-kitchen .c-primary:-moz-input-placeholder,
.palette-fifties-kitchen .c-primary::-moz-input-placeholder,
.palette-fifties-kitchen .c-primary:-ms-input-placeholder {
  color: #9BD9E0 !important; }
.palette-fifties-kitchen .c-border-primary {
  border-color: #9BD9E0 !important; }
.palette-fifties-kitchen .c-bg-secondary,
.palette-fifties-kitchen .c-bg-secondary-hover:hover,
.palette-fifties-kitchen .c-bg-secondary-hover:active,
.palette-fifties-kitchen .c-bg-secondary-hover.active,
.palette-fifties-kitchen .c-bg-secondary-hover:focus,
.palette-fifties-kitchen .c-bg-secondary-active:active,
.palette-fifties-kitchen .c-bg-secondary-active.active,
.palette-fifties-kitchen .c-bg-secondary-active:focus,
.palette-fifties-kitchen .c-bg-secondary-focus:focus {
  background-color: #F9D4EE !important; }
.palette-fifties-kitchen .c-secondary,
.palette-fifties-kitchen .c-secondary-hover:hover,
.palette-fifties-kitchen .c-secondary-hover:active,
.palette-fifties-kitchen .c-secondary-hover.active,
.palette-fifties-kitchen .c-secondary-hover:focus,
.palette-fifties-kitchen .c-secondary-active:active,
.palette-fifties-kitchen .c-secondary-active.active,
.palette-fifties-kitchen .c-secondary-active:focus,
.palette-fifties-kitchen .c-secondary-focus:focus {
  color: #F9D4EE !important; }
.palette-fifties-kitchen .c-secondary::-webkit-input-placeholder,
.palette-fifties-kitchen .c-secondary:-moz-input-placeholder,
.palette-fifties-kitchen .c-secondary::-moz-input-placeholder,
.palette-fifties-kitchen .c-secondary:-ms-input-placeholder {
  color: #F9D4EE !important; }
.palette-fifties-kitchen .c-border-secondary {
  border-color: #F9D4EE !important; }
.palette-fifties-kitchen .c-bg-content,
.palette-fifties-kitchen .c-bg-content-hover:hover,
.palette-fifties-kitchen .c-bg-content-hover:active,
.palette-fifties-kitchen .c-bg-content-hover.active,
.palette-fifties-kitchen .c-bg-content-hover:focus,
.palette-fifties-kitchen .c-bg-content-active:active,
.palette-fifties-kitchen .c-bg-content-active.active,
.palette-fifties-kitchen .c-bg-content-active:focus,
.palette-fifties-kitchen .c-bg-content-focus:focus {
  background-color: #F1FBFD !important; }
.palette-fifties-kitchen .c-content,
.palette-fifties-kitchen .c-content-hover:hover,
.palette-fifties-kitchen .c-content-hover:active,
.palette-fifties-kitchen .c-content-hover.active,
.palette-fifties-kitchen .c-content-hover:focus,
.palette-fifties-kitchen .c-content-active:active,
.palette-fifties-kitchen .c-content-active.active,
.palette-fifties-kitchen .c-content-active:focus,
.palette-fifties-kitchen .c-content-focus:focus {
  color: #F1FBFD !important; }
.palette-fifties-kitchen .c-content::-webkit-input-placeholder,
.palette-fifties-kitchen .c-content:-moz-input-placeholder,
.palette-fifties-kitchen .c-content::-moz-input-placeholder,
.palette-fifties-kitchen .c-content:-ms-input-placeholder {
  color: #F1FBFD !important; }
.palette-fifties-kitchen .c-border-content {
  border-color: #F1FBFD !important; }
.palette-fifties-kitchen .c-bg-accent,
.palette-fifties-kitchen .c-bg-accent-hover:hover,
.palette-fifties-kitchen .c-bg-accent-hover:active,
.palette-fifties-kitchen .c-bg-accent-hover.active,
.palette-fifties-kitchen .c-bg-accent-hover:focus,
.palette-fifties-kitchen .c-bg-accent-active:active,
.palette-fifties-kitchen .c-bg-accent-active.active,
.palette-fifties-kitchen .c-bg-accent-active:focus,
.palette-fifties-kitchen .c-bg-accent-focus:focus {
  background-color: #FF996B !important; }
.palette-fifties-kitchen .c-accent,
.palette-fifties-kitchen .c-accent-hover:hover,
.palette-fifties-kitchen .c-accent-hover:active,
.palette-fifties-kitchen .c-accent-hover.active,
.palette-fifties-kitchen .c-accent-hover:focus,
.palette-fifties-kitchen .c-accent-active:active,
.palette-fifties-kitchen .c-accent-active.active,
.palette-fifties-kitchen .c-accent-active:focus,
.palette-fifties-kitchen .c-accent-focus:focus {
  color: #FF996B !important; }
.palette-fifties-kitchen .c-accent::-webkit-input-placeholder,
.palette-fifties-kitchen .c-accent:-moz-input-placeholder,
.palette-fifties-kitchen .c-accent::-moz-input-placeholder,
.palette-fifties-kitchen .c-accent:-ms-input-placeholder {
  color: #FF996B !important; }
.palette-fifties-kitchen .c-border-accent {
  border-color: #FF996B !important; }
.palette-fifties-kitchen .c-bg-text,
.palette-fifties-kitchen .c-bg-text-hover:hover,
.palette-fifties-kitchen .c-bg-text-hover:active,
.palette-fifties-kitchen .c-bg-text-hover.active,
.palette-fifties-kitchen .c-bg-text-hover:focus,
.palette-fifties-kitchen .c-bg-text-active:active,
.palette-fifties-kitchen .c-bg-text-active.active,
.palette-fifties-kitchen .c-bg-text-active:focus,
.palette-fifties-kitchen .c-bg-text-focus:focus {
  background-color: #FCFCF9 !important; }
.palette-fifties-kitchen .c-text,
.palette-fifties-kitchen .c-text-hover:hover,
.palette-fifties-kitchen .c-text-hover:active,
.palette-fifties-kitchen .c-text-hover.active,
.palette-fifties-kitchen .c-text-hover:focus,
.palette-fifties-kitchen .c-text-active:active,
.palette-fifties-kitchen .c-text-active.active,
.palette-fifties-kitchen .c-text-active:focus,
.palette-fifties-kitchen .c-text-focus:focus {
  color: #FCFCF9 !important; }
.palette-fifties-kitchen .c-text::-webkit-input-placeholder,
.palette-fifties-kitchen .c-text:-moz-input-placeholder,
.palette-fifties-kitchen .c-text::-moz-input-placeholder,
.palette-fifties-kitchen .c-text:-ms-input-placeholder {
  color: #FCFCF9 !important; }
.palette-fifties-kitchen .c-border-text {
  border-color: #FCFCF9 !important; }
.palette-fifties-kitchen .c-bg-text-dark,
.palette-fifties-kitchen .c-bg-text-dark-hover:hover,
.palette-fifties-kitchen .c-bg-text-dark-hover:active,
.palette-fifties-kitchen .c-bg-text-dark-hover.active,
.palette-fifties-kitchen .c-bg-text-dark-hover:focus,
.palette-fifties-kitchen .c-bg-text-dark-active:active,
.palette-fifties-kitchen .c-bg-text-dark-active.active,
.palette-fifties-kitchen .c-bg-text-dark-active:focus,
.palette-fifties-kitchen .c-bg-text-dark-focus:focus {
  background-color: #171612 !important; }
.palette-fifties-kitchen .c-text-dark,
.palette-fifties-kitchen .c-text-dark-hover:hover,
.palette-fifties-kitchen .c-text-dark-hover:active,
.palette-fifties-kitchen .c-text-dark-hover.active,
.palette-fifties-kitchen .c-text-dark-hover:focus,
.palette-fifties-kitchen .c-text-dark-active:active,
.palette-fifties-kitchen .c-text-dark-active.active,
.palette-fifties-kitchen .c-text-dark-active:focus,
.palette-fifties-kitchen .c-text-dark-focus:focus {
  color: #171612 !important; }
.palette-fifties-kitchen .c-text-dark::-webkit-input-placeholder,
.palette-fifties-kitchen .c-text-dark:-moz-input-placeholder,
.palette-fifties-kitchen .c-text-dark::-moz-input-placeholder,
.palette-fifties-kitchen .c-text-dark:-ms-input-placeholder {
  color: #171612 !important; }
.palette-fifties-kitchen .c-border-text-dark {
  border-color: #171612 !important; }
.palette-fifties-kitchen .c-bg-content,
.palette-fifties-kitchen .comment .reactions button {
  color: #171612 !important; }
.palette-fifties-kitchen .c-bg-content,
.palette-fifties-kitchen .comment .reactions button {
  color: #171612 !important; }
.palette-fifties-kitchen .comment .reactions .liked-by-you,
.palette-fifties-kitchen .comment .reactions .liked-by-you:hover,
.palette-fifties-kitchen .comment .reactions .liked-by-you:focus,
.palette-fifties-kitchen .comment .reactions .liked-by-you:active,
.palette-fifties-kitchen .comment .reactions .liked-by-you.active {
  color: #55b060 !important; }
.palette-fifties-kitchen .comment .reactions .loved-by-you,
.palette-fifties-kitchen .comment .reactions .loved-by-you:hover,
.palette-fifties-kitchen .comment .reactions .loved-by-you:focus,
.palette-fifties-kitchen .comment .reactions .loved-by-you:active,
.palette-fifties-kitchen .comment .reactions .loved-by-you.active {
  color: #cc4444 !important; }
.palette-fifties-kitchen .reg-form {
  border-color: #9BD9E0 !important; }
.palette-fifties-kitchen .bottom-drawer .reg-form {
  color: #171612 !important; }
.palette-fifties-kitchen .selected {
  background-color: #9BD9E0 !important;
  color: #FCFCF9 !important; }
.palette-fifties-kitchen .main-menu {
  border-color: #F9D4EE !important; }

@-webkit-keyframes pop-letter {
  0% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  43% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  50% {
    color: #9BD9E0 !important;
    /*-webkit-transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ }
  100% {
    color: inherit;
    /*-webkit-transform: scale(1);*/ } }
@keyframes pop-letter {
  0% {
    color: inherit;
    /*transform: scale(1);*/ }
  43% {
    color: inherit;
    /*transform: scale(1);*/ }
  50% {
    color: #9BD9E0 !important;
    /*transform: scale(1.05);*/ }
  57% {
    color: inherit;
    /*transform: scale(1);*/ }
  100% {
    color: inherit;
    /*transform: scale(1);*/ } }

/*# sourceMappingURL=main-sass.css.map */
