<nav ng-include src="'app/app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<main ng-if="$root.currentCircle && user.isEmailVerified">
	<section class="main category-archive-container">
		<div class="category-archive archive col-md-8 col-md-offset-2 clearfix">
			<div class="content-masthead clearfix">
				<a href="{{location.search().tag ? ('/#/?tag=' + location.search().tag) : '/#/'}}" class="back-btn pull-left bold-caps text-shadow"><span><i class="fa fa-long-arrow-left"></i>Back to posts</span></a>
			</div>
			<div class="category-tile col-sm-4 bg-not-applied" ng-repeat="category in categories">
				<a class="tile" href="/#/?tag={{category.name}}" style="display:block; background-image: url({{category.image || category.randomBg}})">
					<span class="bold-caps text-shadow">#{{category.name}}</span>
				</a>
				<button class="trash-btn" ng-disabled="category.name === 'random'" ng-click="deleteCategory(category.name)"><i class="fa fa-trash"></i></button>
			</div>
		</div>
	</section>
</main>