		<!-- POST TYPE TABS -->
		<div class="drawer-bar c-bg-primary tabs radio-tabs clearfix">
			<div class="drawer-bar-inner col-md-12">
				<h3>Add a<span ng-if="newPost.type == 'event'">n</span> <span ng-if="newPost.type !== 'normal'">{{newPost.type}}</span><span ng-if="newPost.type == 'normal'">thing</span></h3>
				<input ng-model="newPost.type" id="post_type_normal" name="postType" value="normal" type="radio" />
				<label ng-show="newPost.type !== 'normal'" class="inner-btn new-post-type-normal post-type-radio" for="post_type_normal">thing</label>

				<input ng-model="newPost.type" id="post_type_event" name="postType" value="event" type="radio" />
				<label ng-show="newPost.type !== 'event'" class="inner-btn new-post-type-event post-type-radio" ng-click="initDatePicker()" for="post_type_event">event</label>

				<input ng-model="newPost.type" id="post_type_quest" name="postType" value="quest" type="radio" />
				<label ng-show="newPost.type !== 'quest'" class="inner-btn new-post-type-quest post-type-radio" for="post_type_quest">quest</label>

				<input ng-model="newPost.type" id="post_type_poll" name="postType" value="poll" type="radio" />
				<label ng-show="newPost.type !== 'poll'" class="inner-btn new-post-type-poll post-type-radio" for="post_type_poll">poll</label>
			</div>
		</div>

		<!-- ADD POST MAIN -->
		<div class="drawer-inner col-md-12" ng-click="hideAttachmentOptions($event)">

			<!-- POST BODY -->
			<div class="new-post-content">

				<textarea 
					ng-model="newPost.content" 
					ng-keydown="selectFromList($event)" 
					ng-change="generateLinkPreview()" 
					ng-keyup="findWithPrefixSymbol(); insertIntoPost($event, $root.selectedFromList.list, $root.selectedFromList.value)" 
					id="new_post_content" 
					class="reg-form" 
					placeholder="Give this {{(newPost.type !== 'normal') ? newPost.type : 'thing'}} some words"></textarea>

				<p>include <strong>#tags</strong> or <strong>@mentions</strong> anywhere in your words</p>

				<div ng-if="linkPreview" ng-class="{'no-thumb': !linkPreview.src}" class="link-preview col-md-12 no-gutter">
					<div class="link-preview-thumbnail">
						<img ng-if="linkPreview.src" src="{{linkPreview.src}}" alt="{{linkPreview.title}}">
					</div>
					<div ng-if="linkPreview.title || linkPreview.description" class="link-preview-text">
						<h3>{{linkPreview.title}}</h3>
						<p>{{linkPreview.description}}</p>
					</div>
				</div>
			</div>

			<!-- TAG AND MENTION LISTS -->
			<div ng-show="symbolSearch.members && listIsActive()" ng-class="{'list-active': symbolSearch.members}" class="floating-list post-search-list post-search-list-members">
				<ul>
					<li ng-repeat="user in $root.users | filter: attemptFind" ng-click="insertIntoPost($event, 'members', user.username)" class="member post-search-list-select c-bg-content clearfix" data-value="{{user.username}}">
						<div ng-show="user.avatar.length" class="avatar-container" style="background-image: url({{user.avatar}})" data-user-id="{{user._id}}"></div>
						<div ng-hide="user.avatar.length" class="avatar-container no-avatar" style="background-color: {{user.primaryColor}}"><span>{{user.username.split("")[0].toUpperCase()}}</span></div>
						<span data-user-id="{{user._id}}" class="member-name">{{user.name}} <span class="c-text">@{{user.username}}</span></span>
					</li>
				</ul>
			</div>
			<div ng-show="symbolSearch.tags && listIsActive()" ng-class="{'list-active': symbolSearch.tags}" class="post-search-list post-search-list-tags">
				<ul>
					<li ng-repeat="tag in $root.currentCircle.tags | filter: attemptFind" ng-click="insertIntoPost($event, 'tags', tag)" class="post-search-list-select c-bg-content" data-value="{{tag}}"><span class="symbol">#</span>{{tag}}</li>
				</ul>
			</div>

			<!-- ATTACH IMAGES -->
			<div class="attach-images pull-left col-md-4 clearfix no-gutter">
				<h4>Give this {{(newPost.type !== 'normal') ? newPost.type : 'thing'}} an image (or a few)</h4>
				<div class="attach-images-inner clearfix">
					<div class="carousel">
						<div class="attached-image" ng-repeat="image in newPost.images" style="background-image: url({{image}})"></div>
						<div class="attach-image-btn" ng-click="showAttachmentOptions = true"><span>+</span></div>
					</div>
					<input ng-show="showAttachmentOptions" class="reg-form compact" ng-model="imgLink" ng-change="attachImageFromLink(imgLink)" placeholder="paste image URL">
					<button disabled ng-show="showAttachmentOptions" class="btn reg-btn-alt c-bg-secondary c-bg-primary-hover c-text-dark c-text-hover has-icon-left" ngf-select="upload($file)"><i class="fa fa-cloud-upload"></i>disabled in demo</button>
				</div>
			</div>

			<!-- EVENT -->
			<div class="event-info pull-left col-md-8 clearfix" ng-if="newPost.type === 'event'">
				<h4>Set the date and location</h4>
				<input class="reg-form compact" ng-model="newPost.eventDate" id="event_date" placeholder="Pick a date">
				<input class="reg-form compact" ng-model="newPost.eventLocation" id="event_location" placeholder="Where's it at?">
			</div>

			<!-- QUEST -->
			<div class="quest-info pull-left col-md-8 clearfix" ng-if="newPost.type === 'quest'">
				<h4>What does someone get when they complete the quest?</h4>
				<div class="quest-form quest-form-left">
					<input class="reg-form compact" type="number" ng-model="newPost.quest.worth.currency">
					<p class="bold-caps">{{(newPost.quest.worth.currency == 1 || newPost.quest.worth.currency == -1) ? $root.currentCircle.currency.singularName : $root.currentCircle.currency.pluralName}}</p>
				</div>
				<div class="quest-form quest-form-right">
					<input class="reg-form compact" ng-model="newPost.quest.worth.achievement.title" ng-keyup="checkQuest()" placeholder="Name the achievement">
					<p class="bold-caps">and/or an achievement</p>
				</div>
			</div>

			<!-- POLL -->
			<div class="poll-info pull-left col-md-8 clearfix" ng-if="newPost.type === 'poll'">
				<h4>Add some options</h4>
				<button class="reg-btn compact pull-left c-bg-secondary" ng-click="addPollOption($event)">add</button>
				<div class="option pull-left col-md-12 no-gutter" ng-repeat="options in newPost.poll track by $index">
					<input class="reg-form compact" type="text" ng-model="newPost.poll[$index].choice" ng-keydown="addPollOption($event, true)" ng-keyup="removePollOption($event, $index)">
					<button class="floating-btn c-text remove-btn pull-left" ng-click="newPost.poll.splice($index, 1)"><i class="fa fa-trash"></i></button>
				</div>
			</div>

			<button ng-click="sendPost()" class="btn reg-btn send-btn c-bg-primary c-bg-accent-hover tile has-icon-left"><i class="fa fa-paper-plane"></i>Post</button>
		</div>