		<!-- POST TYPE TABS -->
		<div class="drawer-bar c-bg-primary tabs radio-tabs clearfix" ng-if="!$root.editPost">
			<div class="drawer-bar-inner col-md-12">
				<h3>Add a<span ng-if="newPost.type == 'event'">n</span> <span ng-if="newPost.type !== 'normal'">{{newPost.type}}</span><span ng-if="newPost.type == 'normal'">thing</span></h3>
				<input ng-model="newPost.type" id="post_type_normal" name="postType" value="normal" type="radio" />
				<label ng-show="newPost.type !== 'normal'" class="inner-btn new-post-type-normal post-type-radio" for="post_type_normal">thing</label>

				<input ng-model="newPost.type" id="post_type_event" name="postType" value="event" type="radio" />
				<label ng-show="newPost.type !== 'event'" class="inner-btn new-post-type-event post-type-radio" ng-click="initDatePicker()" for="post_type_event">event</label>

				<input ng-model="newPost.type" id="post_type_quest" name="postType" value="quest" type="radio" />
				<label ng-show="newPost.type !== 'quest'" class="inner-btn new-post-type-quest post-type-radio" for="post_type_quest">quest</label>

				<input ng-model="newPost.type" id="post_type_poll" name="postType" value="poll" type="radio" />
				<label ng-show="newPost.type !== 'poll'" class="inner-btn new-post-type-poll post-type-radio" for="post_type_poll">poll</label>
			</div>
		</div>

		<!-- ADD POST MAIN -->
		<div class="drawer-inner col-md-12">

			<!-- POST BODY -->
			<div class="new-post-content">

				<textarea 
					ng-model="newPost.content" 
					ng-keydown="selectFromList($event)" 
					ng-keyup="generateLinkPreview(); findWithPrefixSymbol(); insertIntoPost($event, $root.selectedFromList.list, $root.selectedFromList.value)" 
					id="new_post_content" 
					class="reg-form" 
					placeholder="Give this thing some words"></textarea>

				<p>include <strong>#tags</strong> or <strong>@mentions</strong> anywhere in your post</p>

				<div ng-if="linkPreview" class="link-preview">
					<div class="link-preview-thumbnail">
						<img src="{{linkPreview.src}}" alt="{{linkPreview.title}}">
					</div>
					<div class="link-preview-text">
						<h3>{{linkPreview.title}}</h3>
						<p>{{linkPreview.description}}</p>
					</div>
				</div>
			</div>

			<!-- TAG AND MENTION LISTS -->
			<div ng-show="symbolSearch.members && listIsActive()" ng-class="{'list-active': symbolSearch.members}" class="post-search-list post-search-list-members">
				<ul>
					<li ng-repeat="user in $root.users | filter: attemptFind" ng-click="insertIntoPost($event, 'members', user.username)" class="post-search-list-select c-bg-content" data-value="{{user.username}}">
						<img width="40" src="{{user.avatar}}"> {{user.name}} <span class="username"><span class="symbol">#</span>{{user.username}}</span>
					</li>
				</ul>
			</div>
			<div ng-show="symbolSearch.tags && listIsActive()" ng-class="{'list-active': symbolSearch.tags}" class="post-search-list post-search-list-tags">
				<ul>
					<li ng-repeat="tag in $root.currentCircle.tags | filter: attemptFind" ng-click="insertIntoPost($event, 'tags', tag)" class="post-search-list-select c-bg-content" data-value="{{tag}}"><span class="symbol">#</span>{{tag}}</li>
				</ul>
			</div>

			<!-- EVENT -->
			<div ng-if="newPost.type === 'event'">
				<h4>Set the date and location</h4>
				<input class="reg-form" ng-model="newPost.eventDate" id="event_date" placeholder="Pick a date">
				<input class="reg-form" ng-model="newPost.eventLocation" id="event_location" placeholder="Where's it at?">
			</div>

			<!-- QUEST -->
			<div class="clearfix" ng-if="newPost.type === 'quest'">
				<h4>What does someone get when they complete the quest?</h4>
				<div class="quest-form quest-form-left">
					<input class="reg-form compact" type="number" ng-model="newPost.quest.worth.currency">
					<p>{{(newPost.quest.worth.currency == 1 || newPost.quest.worth.currency == -1) ? $root.currentCircle.currency.singularName : $root.currentCircle.currency.pluralName}}</p>
				</div>
				<div class="quest-form quest-form-right">
					<input class="reg-form compact" ng-model="newPost.quest.worth.achievement.title" ng-keyup="checkQuest()" placeholder="Name the achievement">
					<p>and/or an achievement</p>
				</div>
			</div>

			<!-- POLL -->
			<div ng-if="newPost.type === 'poll'">
				<h5>Add some options</h5>
				<button class="btn" ng-click="newPost.poll.push({})">add option</button>
				<button class="btn" ng-click="newPost.poll.splice((newPost.poll.length - 1), 1)">remove option</button>
				<input class="reg-form" type="text" ng-repeat="options in newPost.poll track by $index" ng-model="newPost.poll[$index].choice">
			</div>

			<h4>Give this thing an image (or a few)</h4>
			<div class="attach-images clearfix">
				<div class="attached-image" ng-repeat="image in newPost.images" style="background-image: url({{image}})"></div>
				<div class="attach-image-btn" ng-click="showAttachmentOptions = true"><span>+</span></div>
				
				<input ng-show="showAttachmentOptions" class="reg-form compact" ng-model="imgLink" ng-keyup="attachImageFromLink(imgLink)" placeholder="paste image URL">
				<button ng-show="showAttachmentOptions" class="btn reg-btn-alt c-bg-secondary c-bg-primary-hover c-text-dark c-text-hover" ngf-select="upload($file)">or upload from your computer</button>
			</div>

			<button ng-click="sendPost()" class="btn reg-btn send-btn c-bg-primary c-bg-accent-hover tile">Post</button>
		</div>