<div class="col-md-12">

			<h3>Styles</h3>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the theme</p>
					<select ng-model="currentCircle.styles.theme" value="{{$root.currentCircle.styles.theme}}" type="text" class="">
						<option ng-selected="currentCircle.styles.theme == 'smooth'" value="smooth">Smooth</option>
						<option ng-selected="currentCircle.styles.theme == 'material'" value="material">Material</option>
					</select>
					<button ng-click="styleCircle('theme')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the palette</p>
					<select ng-model="currentCircle.styles.palette" value="{{$root.currentCircle.styles.palette}}" type="text" class="">
						<option ng-selected="currentCircle.styles.palette == 'original-blue'" value="original-blue">Original Blue</option>
						<option ng-selected="currentCircle.styles.palette == 'troll-hollow'" value="troll-hollow">Troll Hollow</option>
						<option ng-selected="currentCircle.styles.palette == 'sunlit-sail'" value="sunlit-sail">Sunlit Sail</option>
					</select>
					<button ng-click="styleCircle('palette')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the font</p>
					<select ng-model="currentCircle.styles.font" value="{{$root.currentCircle.styles.font}}" type="text" class="">
						<option ng-selected="currentCircle.styles.font == 'open-sans'" value="open-sans">Open Sans</option>
						<option ng-selected="currentCircle.styles.font == 'montserrat'" value="montserrat">Montserrat</option>
					</select>
					<button ng-click="styleCircle('font')" class="btn btn-default">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the background</p>
					<button class="btn c-bg-primary" ngf-select="upload('bg', $file)">Select</button>
					<input class="" ng-model="bgLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('background', bgLink)">Save</button>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Change the logo</p>
					<button class="btn c-bg-primary" ngf-select="upload('logo', $file)">Select</button>
					<input class="" ng-model="logoLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('logo', logoLink)">Save</button>
				</div>
			</div>

			<div class="row" ng-if="$root.archiveTag">
				<div class="col-md-6 col-md-offset-3">
					<p>Select a featured image for this tag</p>
					<button class="btn c-bg-primary" ngf-select="upload('tagImage', $file)">Select</button>
					<input class="" ng-model="tagImageLink" placeholder="or paste an image link">
					<button class="btn c-bg-primary" ng-click="updateImageFromLink('tagImage', tagImageLink)">Save</button>
				</div>
			</div>

			<h3>Settings</h3>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>Name your currency</p>
					<input class="" ng-model="currentCircle.currency.singularName" name="currency_name_singular" placeholder="singular name (e.g. 'dollar')">
					<input class="" ng-model="currentCircle.currency.pluralName" name="currency_name_plural" placeholder="singular name (e.g. 'dollar')">
					<button ng-click="editCurrency()" class="btn btn-default">Save</button>
				</div>
			</div>

		</div>