<nav ng-include src="'app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<div class="button" ngf-select="upload($file)">Select</div>
		<img src="{{$root.user.avatar}}" width="40">
	</div>
</div>

<form class="row" ng-submit="editProfile('name'); showSaveNameBtn = false">
	<div class="col-sm-6 col-sm-offset-3">
		<input ng-model="user.name" ng-focus="showSaveNameBtn = true" type="text" class="form-control line-form" placeholder="name" />
		<button ng-show="showSaveNameBtn" ng-click="showSaveNameBtn = false">Save</button>
	</div>
</form>

<form class="row" ng-submit="editProfile('username'); showSaveUsernameBtn = false">
	<div class="col-sm-6 col-sm-offset-3">
		<input ng-model="user.username" ng-focus="showSaveUsernameBtn = true" type="text" class="form-control line-form" placeholder="username" />
		<button ng-show="showSaveUsernameBtn" ng-click="showSaveUsernameBtn = false">Save</button>
	</div>
</form>

<form class="row" ng-submit="editProfile('bio'); showSaveBioBtn = false">
	<div class="col-sm-6 col-sm-offset-3">
		<textarea ng-model="user.bio" ng-focus="showSaveBioBtn = true" type="text" class="form-control line-form" placeholder="bio"></textarea>
		<button ng-show="showSaveBioBtn" ng-click="showSaveBioBtn = false">Save</button>
	</div>
</form>