<nav ng-include src="'app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<main ng-if="circleJoined && user.isEmailVerified" ng-class="applyFilterClasses()">
	<nav class="col-md-8 col-md-offset-2 circle-nav">
		<div class="circle-nav-inner circle-sorting">
			<div class="c-bg-primary tile clearfix">
				<button class="inner-btn c-bg-accent-hover" ng-click="orderPosts('date')"><span>Recent</span></button>
				<button class="inner-btn c-bg-accent-hover" ng-click="orderPosts('votes')"><span>Best</span></button>
			</div>
		</div>

		<div class="circle-nav-inner circle-views">
			<div class="c-bg-primary tile clearfix">
				<button class="inner-btn c-bg-accent-hover" ng-click="showTagsDropdown()"><span>Categories</span></button>
				<button class="inner-btn c-bg-accent-hover"><span>Friends</span></button>
				<button ng-click="showPostsOfType('event')" class="inner-btn c-bg-accent-hover"><span>Calendar</span></button>
				<button ng-click="showPostsOfType('quest')" class="inner-btn c-bg-accent-hover"><span>Quests</span></button>
			</div>
		</div>

		<div ng-show="tagsDropdownVisible" class="tags-dropdown c-bg-primary">
			<ul>
				<li ng-repeat="tag in circle.tags"><button ng-click="showPostsTagged(tag)" class="inner-btn square-btn">{{tag}}</button></li>
			</ul>
		</div>
	</nav>

<!-- POSTS MAIN -->
	<section class="posts-archive-container">
		<button ng-click="setNewPosts(); showPostsTagged(); showPostsOfType();" class="btn btn-primary">All Posts<span ng-if="incomingPosts && difference">({{difference}} new)</span></button>
		<div class="col-md-8 col-md-offset-2 posts-archive archive">

			<!-- post -->
			<div ng-repeat="post in posts | orderBy: postOrder | limitTo:postsAllowed['allow']" class="post archive-post col-md-6 not-treated" data-post-id="{{post._id}}" data-creator-id="{{post.userId}}" data-link-set="{{post.linkEmbed}}" ng-click="$parent.goToPost(post._id)">
				<div class="post-inner c-bg-content tile" ng-style="{backgroundImage: 'url(' + archiveLinkPreviews[post._id].src || post.images[0] + ')'}">
					<!-- <div class="post-bg"></div>  -->
					<div class="post-meta">
						<div class="author">
							<span data-user-id="{{post.userId}}" class="author-username">{{post.user}}</span>
							<div class="avatar-container"><img ng-src="{{post.avatar}}" data-user-id="{{post.userId}}" alt="{{post.user}}" class="avatar img-responsive" /></div>
						</div>
						<div class="date">
							{{post.date | date: 'MM/dd/yyyy hh:mm'}}
						</div>
					</div>
					<div class="content">
						<article>{{post.content}}</article>
						<blockquote ng-if="archiveLinkPreviews[post._id]" class="posted-link-preview">{{archiveLinkPreviews[post._id].title}}</blockquote>
					</div>
					<!-- <div class="comments" ng-repeat="comment in post.comments">
						<div class="avatar-container"><img data-user-id="{{comment.userId}}" alt="{{comment.user}}" class="avatar img-responsive" /></div>
					</div> -->
				</div>
			</div>
			<!-- /post -->

			<button class="btn btn-primary" ng-click="loadMore()">Load more</button>
		</div>
	</section>

	<aside id="users" class="col-md-8 col-md-offset-2">
		<div ng-repeat="user in users" class="row">
			{{user.email}}
		</div>
	</aside>

</main>

	