<nav ng-include src="'app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<main ng-if="circleJoined && user.isEmailVerified" ng-class="applyFilterClasses()">

	<nav ng-include src="'app/circle-nav.html'" class="col-md-8 col-md-offset-2 circle-nav"></nav>

	<nav ng-if="postsAreFiltered.filter === 'users'" class="col-md-8 col-md-offset-2" style="position:relative; z-index:99999;">
		<button ng-click="filterByCreator = true; showPostsFiltered( 'users', postsAreFiltered.term )">things by <span ng-if="postsAreFiltered.filter === 'users' && postsAreFiltered.term !== $root.user.username">@</span><span ng-if="postsAreFiltered.filter === 'tags'">#</span>{{(postsAreFiltered.term) === $root.user.username ? "you" : postsAreFiltered.term}}</button>
		<button ng-click="filterByCreator = false; showPostsFiltered( 'users', postsAreFiltered.term )">things mentioning <span ng-if="postsAreFiltered.filter === 'users' && postsAreFiltered.term !== $root.user.username">@</span><span ng-if="postsAreFiltered.filter === 'tags'">#</span>{{(postsAreFiltered.term) === $root.user.username ? "you" : postsAreFiltered.term}}</button>
	</nav>

<!-- POSTS MAIN -->
	<section class="posts-archive-container">
		<button ng-click="setNewPosts(); showPostsOfType(); showPostsFiltered()" id="all_posts" class="btn btn-primary">All Posts
			<!-- <span ng-if="incomingPosts && difference">({{difference}} new)</span> -->
		</button>
		<button ng-click="showPostsFiltered('users', $root.user.username)">
			<span ng-if="postTypesAreFiltered.term == 'quest'">My quests</span>
			<span ng-if="postTypesAreFiltered.term !== 'quest'">@me</span>
		</button>

	<!-- notifications -->
		<ul class="notifications" ng-if="$root.user.notifications.length">
			<li ng-repeat="notification in $root.user.notifications" data-notif-id="{{notification._id}}">
				<span ng-click="clearNotification(false, notification._id); goToPost(notification.postId)">{{notification.creator}} {{notification.action}}</span>
				<button ng-click="clearNotification(false, notification._id)" class="btn btn-default">{{$root.randomDismissal}}</button>
			</li>
		</ul>

	<!-- archive -->
		<div class="col-md-8 col-md-offset-2 posts-archive archive">

			<!-- post -->
			<div ng-repeat="post in posts | orderBy: 'date':true | limitTo:postsAllowed['allow']" class="post archive-post col-md-6 not-treated" data-post-id="{{post._id}}" data-creator-id="{{post.userId}}" data-link-set="{{post.linkEmbed}}" ng-click="$parent.goToPost(post._id)" data-images="{{post.images}}" data-post-type="{{post.type}}">
				<div class="post-inner c-bg-content tile" ng-style="{backgroundImage: 'url(' + (archiveLinkPreviews[post._id].src || post.images[0]) + ')'}">
					<!-- <div class="post-bg"></div>  -->
					<div class="post-meta">
						<div class="author">
							<div class="avatar-container"><img ng-src="{{post.avatar}}" data-user-id="{{post.userId}}" alt="{{post.user}}" class="avatar img-responsive" /></div>
							<span data-user-id="{{post.userId}}" class="author-name">{{post.authorName || post.user}}</span>
						</div>
						<div class="date">
							{{post.date | date: 'MM/dd/yyyy hh:mm'}}
						</div>
					</div>
					<div class="content">
						<article>{{post.content}}</article>
						<!-- <blockquote ng-if="archiveLinkPreviews[post._id]" class="posted-link-preview">{{archiveLinkPreviews[post._id].title}}</blockquote> -->
					</div>
					<!-- <div class="comments" ng-repeat="comment in post.comments">
						<div class="avatar-container"><img data-user-id="{{comment.userId}}" alt="{{comment.user}}" class="avatar img-responsive" /></div>
					</div> -->
				</div>
			</div>
			<!-- /post -->

			<button class="btn btn-primary" ng-click="loadMore()">Load more</button>
		</div>
	</section>

	<aside id="users" class="col-md-8 col-md-offset-2">
		<div ng-repeat="user in users" class="row">
			{{user.email}}
		</div>
	</aside>

</main>

	