<nav ng-include src="'app-bar/app-bar.html'" ng-controller="appBarController" class="main-nav navbar navbar-fixed-top"></nav>

<main ng-if="circleJoined && user.isEmailVerified" ng-class="applyFilterClasses()">

	<nav ng-include src="'app/circle-nav.html'" class="col-md-8 col-md-offset-2 circle-nav"></nav>

<!-- POSTS MAIN -->
	<section class="main posts-archive-container">

	<!-- notifications -->
		<ul class="notifications" ng-if="$root.user.notifications.length">
			<li ng-repeat="notification in $root.user.notifications" data-notif-id="{{notification._id}}">
				<span ng-click="clearNotification(false, notification._id); goToPost(notification.postId)">{{notification.creator}} {{notification.action}}</span>
				<button ng-click="clearNotification(false, notification._id)" class="btn btn-default">{{$root.randomDismissal}}</button>
			</li>
		</ul>

	<!-- archive -->
		<div class="col-md-8 col-md-offset-2 posts-archive archive">

			<!-- post -->
			<div ng-repeat="post in posts | orderBy: postOrder:orderPostsAscending | limitTo:postsAllowed['allow']" class="post archive-post {{post.type}} col-md-6 not-treated" data-post-id="{{post._id}}" data-creator-id="{{post.userId}}" data-link-set="{{post.linkEmbed}}" ng-click="$parent.goToPost(post._id)" data-images="{{post.images}}" data-post-type="{{post.type}}" ng-class="{'has-image': (archiveLinkPreviews[post._id].src || post.images[0])}">
				<div class="post-inner c-bg-content c-text-dark tile" ng-style="{backgroundImage: 'url(' + (archiveLinkPreviews[post._id].src || post.images[0]) + ')'}">
					<div class="post-before c-bg-primary">
						<h3 class="c-text">
							<span ng-if="post.type == 'normal'"><i class="fa fa-pencil"></i></span>
							<span ng-if="post.type == 'event'"><i class="fa fa-calendar"></i></span>
							<span ng-if="post.type == 'quest'"><i class="fa fa-shield"></i></span>
						</h3>
						<div class="commenter" ng-repeat="commenter in getCommenters(post.comments)">
							<div ng-show="commenter.avatar.length" class="avatar-container" style="background-image: url({{commenter.avatar}})"></div>
							<div ng-hide="commenter.avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersByUsername[commenter.user].primaryColor}}"><span>{{commenter.user.split("")[0].toUpperCase()}}</span></div>
						</div>
					</div>
					<div class="post-main">
						<div class="content">
							<article>{{post.content}}</article>
						</div>
						<div class="post-after">
							<div class="author">
								<div ng-show="post.avatar.length" class="avatar-container" style="background-image: url({{post.avatar}})" data-user-id="{{post.userId}}"></div>
								<div ng-hide="post.avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersById[post.userId].primaryColor}}"><span>{{post.user.split("")[0].toUpperCase()}}</span></div>
								<span data-user-id="{{post.userId}}" class="author-name">{{post.authorName || post.user}}</span>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			<!-- /post -->

			<button class="btn btn-primary" ng-click="loadMore()">Load more</button>
		</div>
	</section>

</main>

	