		<!-- POST TYPE TABS -->
		<div class="drawer-bar c-bg-primary tabs radio-tabs clearfix">
			<div class="drawer-bar-inner col-md-12">
				<h3>Edit your circle's <span>{{editCircle.part}}</span></h3>
				<input ng-model="editCircle.part" id="edit_circle_styles" name="editCircle" value="styles" type="radio" />
				<label ng-show="editCircle.part !== 'styles'" class="inner-btn edit-circle-part-styles edit-circle-radio" for="edit_circle_styles">styles</label>

				<input ng-model="editCircle.part" id="edit_circle_imagery" name="editCircle" value="imagery" type="radio" />
				<label ng-show="editCircle.part !== 'imagery'" class="inner-btn edit-circle-part-imagery edit-circle-radio" for="edit_circle_imagery">imagery</label>

				<input ng-model="editCircle.part" id="edit_circle_settings" name="editCircle" value="settings" type="radio" />
				<label ng-show="editCircle.part !== 'settings'" class="inner-btn edit-circle-part-settings edit-circle-radio" for="edit_circle_settings">settings</label>
			</div>
		</div>

		<!-- EDIT CIRCLE MAIN -->
		<div class="drawer-inner col-md-12">
			<div class="styles" ng-show="editCircle.part == 'styles'">
				<h2>Styles</h2>
				<div class="col-md-6 pull-left no-gutter">
					<h4>Change the theme</h4>
					<select ng-change="styleCircle('theme')" ng-model="currentCircle.styles.theme" value="{{$root.currentCircle.styles.theme}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.theme == 'smooth'" value="smooth">Smooth</option>
						<option ng-selected="currentCircle.styles.theme == 'material'" value="material">Material</option>
					</select>
					<!-- <button ng-click="styleCircle('theme')" class="reg-btn compact c-bg-secondary">apply</button> -->
				</div>

				<div class="col-md-6 pull-left no-gutter">
					<h4>Change the palette</h4>
					<select ng-change="styleCircle('palette')" ng-model="currentCircle.styles.palette" value="{{$root.currentCircle.styles.palette}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.palette == 'original-blue'" value="original-blue">Original Blue</option>
						<option ng-selected="currentCircle.styles.palette == 'sunlit-sail'" value="sunlit-sail">Sunlit Sail</option>
						<option ng-selected="currentCircle.styles.palette == 'wild-flowers'" value="wild-flowers">Wild Flowers</option>
						<option ng-selected="currentCircle.styles.palette == 'troll-hollow'" value="troll-hollow">Troll Hollow</option>
						<option ng-selected="currentCircle.styles.palette == 'fifties-kitchen'" value="fifties-kitchen">Fifties Kitchen</option>
					</select>
					<div class="palette current-palette">
						<div style="background-color: {{palettes[currentCircle.styles.palette]['text-dark']}}"></div>
						<div style="background-color: {{palettes[currentCircle.styles.palette]['text']}}"></div>
						<div style="background-color: {{palettes[currentCircle.styles.palette].secondary}}"></div>
						<div style="background-color: {{palettes[currentCircle.styles.palette].content}}"></div>
						<div style="background-color: {{palettes[currentCircle.styles.palette].accent}}"></div>
						<div style="background-color: {{palettes[currentCircle.styles.palette].primary}}" class="primary"></div>
					</div>
					<!-- <button ng-click="styleCircle('palette')" class="reg-btn compact c-bg-secondary">apply</button> -->
				</div>

				<div class="col-md-6 pull-left no-gutter">
					<h4>Change the primary font</h4>
					<select ng-change="styleCircle('font')" ng-model="currentCircle.styles.font" value="{{$root.currentCircle.styles.font}}" type="text" class="reg-form">
						<option ng-selected="currentCircle.styles.font == 'helvetica'" value="helvetica">Helvetica</option>
						<option ng-selected="currentCircle.styles.font == 'open-sans'" value="open-sans">Open Sans</option>
						<option ng-selected="currentCircle.styles.font == 'montserrat'" value="montserrat">Montserrat</option>
						<option ng-selected="currentCircle.styles.font == 'roboto'" value="roboto">Roboto</option>
						<option ng-selected="currentCircle.styles.font == 'quicksand'" value="quicksand">Quicksand</option>
						<option ng-selected="currentCircle.styles.font == 'pridi'" value="pridi">Pridi</option>
					</select>
					<!-- <button ng-click="" class="reg-btn compact c-bg-secondary">apply</button> -->
				</div>
			</div>
			<div class="imagery" ng-show="editCircle.part == 'imagery'">
				<h2>Imagery</h2>

				<div class="col-md-6 pull-left no-gutter">
					<h4>Change the background</h4>
					<button disabled class="reg-btn compact upload-btn has-icon-left c-bg-primary c-text c-bg-accent-hover c-text-hover" ngf-select="upload('bg', $file)"><i class="fa fa-cloud-upload"></i>disabled in demo</button>
					<input class="reg-form compact" ng-model="bgLink" placeholder="or paste an image link">
					<button class="reg-btn compact c-bg-secondary" ng-click="updateImageFromLink('background', bgLink)">apply</button>
				</div>

				<div class="col-md-6 pull-left no-gutter">
					<h4>Change the logo</h4>
					<button disabled class="reg-btn compact upload-btn has-icon-left c-bg-primary c-text c-bg-accent-hover c-text-hover" ngf-select="upload('logo', $file)"><i class="fa fa-cloud-upload"></i>disabled in demo</button>
					<input class="reg-form compact" ng-model="logoLink" placeholder="or paste an image link">
					<button class="reg-btn compact c-bg-secondary" ng-click="updateImageFromLink('logo', logoLink)">apply</button>
				</div>

				<div class="col-md-6 pull-left no-gutter" ng-if="location.search().tag || postsAreFiltered.filter === 'tags'">
					<h4>Add a featured image for this category</h4>
					<button disabled class="reg-btn compact upload-btn has-icon-left c-bg-primary c-text c-bg-accent-hover c-text-hover" ngf-select="upload('tagImage', $file)"><i class="fa fa-cloud-upload"></i>disabled in demo</button>
					<input class="reg-form compact" ng-model="tagImageLink" placeholder="or paste an image link">
					<button class="reg-btn compact c-bg-secondary" ng-click="updateImageFromLink('tagImage', tagImageLink)">apply</button>
				</div>
			</div>
			<div class="settings" ng-show="editCircle.part == 'settings'">
				<h2>Settings</h2>
				<div class="col-md-6 pull-left no-gutter">
					<h4>Name your currency</h4>
					<span class="bold-caps reg-label">singular name</span>
					<input class="reg-form compact" ng-model="currentCircle.currency.singularName" name="currency_name_singular" placeholder="singular name (e.g. 'dollar')">
					<span class="bold-caps reg-label">plural name</span>
					<input class="reg-form compact" ng-model="currentCircle.currency.pluralName" name="currency_name_plural" placeholder="plural name (e.g. 'quid')">
					<button ng-click="editCurrency()" class="reg-btn compact c-bg-secondary">apply</button>
				</div>
			</div>

		</div>