<!-- APP BAR -->
<div ng-if="loggedIn && user.isEmailVerified" class="app-bar c-bg-primary container-fluid col-md-10 col-md-offset-1">
	<a class="logo" ui-sref="main" ng-click="refresh()" ng-style="{backgroundImage: 'url(' + $root.currentCircle.styles.logo + ')'}"]></a>
	
	<h3 ng-class="{'has-logo': $root.currentCircle.styles.logo}" class="c-text">
		<a ui-sref="main" ng-if="circleJoined" ng-click="refresh()" class="bold-caps">{{ $root.currentCircle.name }}</a>
		<a ng-if="!circleJoined" class="c-text" ui-sref="main">Circle</a>
	</h3>

	<!-- MAIN MENU TOGGLE -->
	<button id="main-menu-toggle" class="app-bar-btn app-bar-left inner-btn" toggle-class="active" ng-if="loggedIn && !emailNotVerified" ng-click="toggleMainMenu()" ng-class="{'toggled': mainMenuIsOpen}">
		<i ng-if="!mainMenuIsOpen" class="fa fa-bars"></i>
		<i ng-if="mainMenuIsOpen" class="fa fa-close"></i>
	</button>
	
	<!-- CATEGORIES BUTTON -->
	<a class="has-tip app-bar-btn app-bar-right inner-btn c-text edit-circle-btn pull-right transition"
		toggle-class="active"
		ng-if="circleJoined"
		ui-sref="categories">
		<i class="fa fa-th-large"></i>
		<span class="tip-flyout">Categories</span>
	</a>
	<!-- USERS BUTTON -->
	<a class="has-tip app-bar-btn app-bar-right inner-btn c-text edit-circle-btn pull-right transition"
		toggle-class="active"
		ng-if="circleJoined"
		ui-sref="members">
		<i class="fa fa-users"></i>
		<span class="tip-flyout">People</span>
	</a>

	<!-- NOTIFICATIONS TOGGLE -->
	<button
	class="app-bar-btn app-bar-right inner-btn c-text notifications-btn pull-right" 
	ng-if="circleJoined && $root.user.notifications.length" 
	ng-click="toggleNotifications()" 
	ng-disabled="!$root.drawersReady">
		<i class="fa fa-bell"></i>
		<span class="number">{{$root.user.notifications.length}}</span>
	</button>

	<!-- NOTIFICATIONS -->
	<ul class="notifications floating-list tile less-rounded c-bg-primary c-text" ng-if="$root.user.notifications.length" ng-show="showNotifications" ng-class="{'list-active': showNotifications}">
		<li 
			class="notification clearfix" 
			ng-repeat="notification in $root.user.notifications track by $index" 
			ng-if="notification.circleId === $root.currentCircle._id" 
			data-notif-id="{{notification._id}}">

			<span ng-click="clearNotification(false, notification._id); goToPost(notification.postId)"><strong>{{notification.creator}}</strong> {{notification.action}}</span>
			<span ng-if="$index === 0 && $root.user.notifications.length > 2" class="recency bold-caps">oldest</span>
			<span ng-if="$root.user.notifications.length > 2 && $index === $root.user.notifications.length - 1" class="recency bold-caps">newest</span>
			<button ng-click="clearNotification(false, notification._id)" class="dismiss-notification transparent-btn has-icon-left pull-right"><i class="fa fa-check"></i></button>
		</li>
	</ul>
</div>

<!-- MAIN MENU -->
<div class="main-menu c-bg-content" ng-class="{'open': mainMenuIsOpen}" ng-if="loggedIn" aria-hidden="true">
	<div class="main-menu-inner">
		<!-- profile -->
	 	<a class="profile-btn clearfix" ui-sref="editProfile">
	 		<div ng-show="$root.user.avatar.length" class="avatar-container" style="background-image: url({{$root.user.avatar}})"></div>
	 		<div ng-hide="$root.user.avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.user.primaryColor}}"><span>{{$root.user.username.split("")[0].toUpperCase()}}</span></div>
	 		<span class="bold-caps">Profile/Account</span>
	 	</a>

	 	<h4>Explore</h4>
		<div class="submenu explore c-bg-secondary">
			<a class="inner-btn has-icon-left c-bg-primary-hover c-text-dark c-text-hover bold-caps" ui-sref="categories">
				<i class="fa fa-th-large"></i>
				<h5 class="bold-caps" style="display:inline"><strong>#</strong>categories</h5>
			</a>
			<a class="inner-btn has-icon-left c-bg-primary-hover c-text-dark c-text-hover bold-caps" ui-sref="members">
				<i class="fa fa-users"></i>
				<h5 class="bold-caps" style="display:inline"><strong>@</strong>people</h5>
			</a>
		</div>

		<!-- <div class="submenu customize c-bg-primary">
			<a class="inner-btn has-icon-left c-bg-primary c-bg-accent-hover c-text bold-caps" ng-click="toggleDrawer('edit-circle')">
				<i class="fa fa-magic"></i>
				<h5 class="bold-caps" style="display:inline">Customize this circle</h5>
			</a>
		</div> -->
	  
	  <h4>Your circles</h4>
		<div class="submenu your-circles c-bg-secondary">
			<div ng-repeat="(code, circle) in $root.circles" ng-click="switchCircles(code)" class="inner-btn circle c-bg-primary-hover c-text-dark c-text-hover">
				<div class="logo" ng-style="{backgroundImage: 'url(' + circle.styles.logo + ')'}"]></div>
				<h5 class="bold-caps">{{circle.name}}</h5>
			</div>
			<button ng-disabled="isDemoUser" class="reg-btn transparent-btn compact create-or-join" ng-click="joinAnotherCircle()">+ create or join</button>
		</div>

		<button ng-click="logOut()" class="reg-btn transparent-btn bold-caps log-out pull-left has-icon-left"><i class="fa fa-unlock-alt"></i>Log out</button>
	</div>
</div>