<div ng-if="loggedIn && user.isEmailVerified" class="app-bar c-bg-primary container-fluid col-md-10 col-md-offset-1">
	<a class="logo" ui-sref="main" ng-click="refresh()" ng-style="{backgroundImage: 'url(' + $root.currentCircle.styles.logo + ')'}"]></a>
	<h3 ng-if="circleJoined" ng-class="{'has-logo': $root.currentCircle.styles.logo}">
		<a ui-sref="main" ng-click="refresh()">{{ $root.currentCircle.name }}</a>
	</h3>
	<h3 ng-if="!circleJoined"><a ui-sref="main">Circle</a></h3>

	<button id="main-menu-toggle" class="app-bar-btn app-bar-left inner-btn" toggle-class="active" ng-if="loggedIn && !emailNotVerified" ng-click="toggleMainMenu()" ng-class="{'toggled': mainMenuIsOpen}">
		<i ng-if="!mainMenuIsOpen" class="fa fa-bars"></i>
		<i ng-if="mainMenuIsOpen" class="fa fa-long-arrow-left"></i>
		</button>
	<button class="app-bar-btn app-bar-right inner-btn c-accent-active" toggle-class="active" ng-if="circleJoined" ng-click="toggleDrawer('edit-circle')" ng-disabled="!$root.drawersReady" style="float: right;"><i class="fa fa-magic"></i></button>
</div>

<div class="main-menu c-bg-content" ng-class="{'open': mainMenuIsOpen}" ng-if="loggedIn" aria-hidden="true">
 	<!-- DRAWER BAR -->
<!-- 	<div class="drawer-bar c-border-primary tile c-bg-primary clearfix" ng-if="!$root.editPost">
		<div class="drawer-bar-inner main-menu-inner">
			<h3>Menu</h3>
		</div>
	</div> -->

	<div class="main-menu-inner">
	 	<a class="profile-btn clearfix" ui-sref="editProfile">
	 		<div ng-show="$root.user.avatar.length" class="avatar-container" style="background-image: url({{$root.user.avatar}})"></div>
	 		<div ng-hide="$root.user.avatar.length" class="avatar-container no-avatar" style="background-color: {{$root.usersById[$root.user._id].primaryColor}}"><span>{{$root.user.username.split("")[0].toUpperCase()}}</span></div>
	 		<span class="bold-caps">Profile/Account</span>
	 	</a>
	  
	  <h5>Your circles</h5>
		<div class="submenu">
			<button ng-repeat="(code, circle) in $root.circles" ng-click="switchCircles(code)" class="inner-btn">
				<div class="logo" ng-style="{backgroundImage: 'url(' + $root.currentCircle.styles.logo + ')'}"]></div>
				<h5>{{circle.name}}</h5>
			</button>
			<button class="btn btn-primary" ng-click="joinAnotherCircle()">Create or join a new circle</button>
		</div>

		<button ng-click="logOut()" class="inner-btn">Log out</button>
	</div>

</div>